[2015-11-10 02:05] buzinas opened #1 "Check all the recommended ESLint rules"
1. Check all the recommended ESLint rules
2. Update README.md file according to 1.
3. Mark all the recommended rules that are missing in TSLint.

[2015-11-10 02:07] buzinas opened #2 "Create project skeleton"
1. Install npm dependencies
2. Create the project structure
3. Develop the first ESLint => TSLint rule
4. Create tests for the rule decribed in 3
5. Update version to 0.1.0

[2015-11-10 02:09] buzinas opened #3 "Find first missing recommended ESLint rule"
Find the first recommended ESLint rule that is missing in TSLint.

[2015-11-10 02:29] buzinas commented on #3
Fixed: there is no TSLint equivalent to `no-constant-condition`.

[2015-11-10 13:43] #2 closed

[2015-11-10 17:58] #1 closed

[2015-11-10 18:08] buzinas opened #4 "Check all the remaining ESLint Rules"
In #1 we've checked all the recommended ESLint rules, now it's time to check all the others.

[2015-11-10 18:13] buzinas opened #5 "Create rule no-control-regex"

[2015-11-10 18:15] Schiavi opened #6 "Create rule no-dupe-args"

[2015-11-10 18:15] buzinas opened #7 "Create rule no-duplicate-case"

[2015-11-10 18:16] buzinas opened #8 "Create rule no-empty-character-class"

[2015-11-10 18:16] Schiavi opened #9 "Create rule no-dupe-keys"

[2015-11-10 18:20] Schiavi opened #10 "Create rule no-ex-assign"

[2015-11-10 18:23] buzinas opened #11 "Create rule no-extra-boolean-cast"

[2015-11-10 18:37] buzinas commented on #6
TypeScript already handles this:

![tslint-eslint-rules_#6](https://cloud.githubusercontent.com/assets/7298695/11071707/f0e91ed2-87c0-11e5-8874-ef8530ce8d5d.png)

[2015-11-10 18:45] #6 closed

[2015-11-10 19:02] Schiavi opened #12 "Create rule no-extra-semi"

[2015-11-10 19:05] Schiavi opened #13 "Create rule no-invalid-regexp"

[2015-11-10 19:08] Schiavi opened #14 "Create rule no-irregular-whitespace"

[2015-11-10 19:11] Schiavi opened #15 "Create rule no-inner-declarations"

[2015-11-10 19:11] Schiavi opened #16 "Create rule no-negated-in-lhs"

[2015-11-10 19:30] buzinas commented on #16
TypeScript already handles this:

![tslint-eslint-rules_ #16](https://cloud.githubusercontent.com/assets/7298695/11073216/621185d4-87c8-11e5-9257-1680a8345dc0.png)

[2015-11-10 19:33] Schiavi opened #17 "Create rule no-regex-spaces"

[2015-11-10 19:34] Schiavi opened #18 "Create rule no-sparse-arrays"

[2015-11-10 19:39] Schiavi opened #19 "Create rule no-unexpected-multiline"

[2015-11-10 19:41] Schiavi opened #20 "Create rule use-isnan"

[2015-11-10 19:43] Schiavi opened #21 "Create rule valid-jsdoc"

[2015-11-10 19:46] Schiavi opened #22 "Create rule valid-typeof"

[2015-11-10 19:48] #16 closed

[2015-11-10 20:01] buzinas commented on #9
TypeScript already handles this:

![tslint-eslint-rules_#9](https://cloud.githubusercontent.com/assets/7298695/11074112/a8d05ba4-87cc-11e5-8b64-c72f13220ac5.png)

[2015-11-10 20:04] #9 closed

[2015-11-10 22:59] buzinas opened #23 "Create the npm package"

[2015-11-10 23:09] #22 closed

[2015-11-11 11:33] buzinas opened #24 "Travis CI integration"

[2015-11-11 11:34] #24 closed

[2015-11-11 11:43] buzinas opened #25 "Include badges"
- NPM package
- Travis CI
- NPM downloads

[2015-11-11 13:26] buzinas commented on #20
Must update README and eslint_tslint.json

[2015-11-11 13:26] #20 closed

[2015-11-11 17:03] buzinas opened #26 "Change TSLint dependency to 3.0.0-dev.2"
According to https://github.com/palantir/tslint/issues/790, we can safely upgrade our dependency to the next TSLint stable version.

[2015-11-11 17:07] #7 closed

[2015-11-11 17:07] #26 closed

[2015-11-11 18:27] #18 closed

[2015-11-11 19:13] buzinas opened #27 "Configure TSLint for this project"
We must lint our project, so we have a well-defined style-guide.

- Create `tslint.json` file
- Configure all the rules we'll be using (including our owns)
- Create a build step for linting in Gulp
- Test if everything is working OK
- Fix all the linting errors

[2015-11-11 19:16] buzinas opened #28 "Create all ESLint recommended rules"

[2015-11-11 21:38] buzinas opened #29 "Change the way tests are made"
We must improve our tests in a way to see how many TSLint failures we have.

[2015-11-12 15:37] buzinas commented on #29
We can even improve our tests to show the exact code that's wrongly passing/failing.

[2015-11-12 16:45] #29 closed

[2015-11-13 17:29] buzinas opened #30 "VSCode Mocha debugging"
We must have the ability to debug Mocha right inside VSCode, so it's easier to catch why testings are failing.

Also, we should improve our build process to include sourcemaps, so we'll be able to debug our TypeScript source, instead of the transpiled Javascript code.

[2015-11-13 17:34] #30 closed

[2015-11-13 17:42] #12 closed

[2015-11-13 21:30] #23 closed

[2015-11-13 22:04] #11 closed

[2015-11-13 22:32] #25 closed

[2015-11-14 00:22] buzinas opened #31 "Update README with Atom settings"
Update README according to the Atom's linter-tslint new version.

My pull request (https://github.com/AtomLinter/linter-tslint/pull/37) was merged.

[2015-11-14 00:42] #31 closed

[2015-11-14 05:22] #10 closed

[2015-11-14 13:18] #3 closed

[2015-11-14 15:03] #19 closed

[2015-11-15 03:26] buzinas opened #32 "Create CHANGELOG file and define commit conventions"
We should have a CHANGELOG.md file to add all the release notes.

Also, we should have some commit conventions for better readability of our change history.

We must create a Github release everytime I release a new npm package.

[2015-11-15 03:34] #32 closed

[2015-11-17 01:01] #13 closed

[2015-11-17 11:07] #15 closed

[2015-11-17 12:07] #5 closed

[2015-11-17 12:07] #8 closed

[2015-11-17 12:07] #17 closed

[2015-11-17 14:00] #14 closed

[2015-11-17 16:23] Schiavi opened #37 "Create no-redeclare-builtin-globals rule"
Based on the rule/option http://eslint.org/docs/rules/no-redeclare
[code]

[2015-11-17 17:50] Schiavi opened #38 "Create no-mixed-spaces-and-tabs rule"

[2015-11-17 18:12] Schiavi opened #39 "Check all the remaining recommended ESLint Rules"
1- improve README to handle all the ESLint recommended rules
2- create missing issues for all the recommended rules

[2015-11-17 18:21] #39 closed

[2015-11-17 18:33] buzinas opened #41 "Fix no-inner-declaration tests"
There are many functions with the same name, we should rename them.

[2015-11-17 18:33] #41 closed

[2015-11-18 17:47] #27 closed

[2015-11-19 14:34] #21 closed

[2015-11-19 17:10] buzinas commented on #37
TypeScript already handles the `builtinGlobals`, so there is no need to add this rule.

[2015-11-19 17:16] #28 closed

[2015-11-19 17:16] #37 closed

[2015-11-24 08:03] buzinas opened #48 "Update TSLint dependency and fix all files to use LF"

[2015-11-24 08:06] #48 closed

[2015-12-14 17:04] buzinas opened #50 "Publish NPM v1.0.0"

[2015-12-14 17:14] #4 closed

[2015-12-14 17:21] #50 closed

[2016-01-12 11:46] isiahmeadows opened #51 "Several rules on the README are in TSLint proper already"
The README seems like it could use a little bit of updating in that regard. An example is ESLint's `strict` is `use-strict` in TSLint. Glancing through the rules, there's about 6 or so of these.

[2016-02-10 10:40] buzinas commented on #51
Accepting PR's.

[2016-03-04 01:02] Boolos opened #52 "no-ex-assign failure string"
I believe the `no-ex-assign` rule has the wrong failure string: [Incorrect string](https://github.com/buzinas/tslint-eslint-rules/blob/master/src/rules/noExAssignRule.ts#L5)

[2016-03-09 02:30] unional opened #53 "Soon: May use extends"
https://github.com/palantir/tslint/pull/1016#issuecomment-194076774
With the `extends` feature, custom rules could be published as `tslint-config-X` too. Rules directory will be merged.:
[code]
:smile:

[2016-03-14 10:29] RomkeVdMeulen opened #54 "False positive: no-ex-assign"
[code]

The line in question:

[code]

For one, the rule shouldn't apply here. Also, the error message doesn't match the rule description.

[2016-03-14 13:36] #52 closed

[2016-03-14 13:36] buzinas commented on #52
Thanks, fixed it! It will be available in the next version!

[2016-03-14 13:38] buzinas commented on #54
Hey there, thanks for reporting it!

The string was incorrect, you're right, and there was already an issue reporting that. I've just fixed it.

Although, I couldn't simulate your error, in fact I've created a test putting your entire code there (https://github.com/buzinas/tslint-eslint-rules/commit/9da7ba8a45d172c5f5c04733da210a2b0a59d272) and it passes with no false positives. Can you please inv

[2016-03-14 15:20] Boolos commented on #52
:+1:

[2016-03-15 12:15] RomkeVdMeulen commented on #54
It's really strange, but I'm still getting the same error after updating to the latest version of the rule. Maybe some kind of parse error? Here's the complete source:

[code]

[code]

[2016-03-18 13:34] buzinas commented on #54
I could simulate the error now. I'll fix it, thanks!

[2016-03-18 13:35] buzinas commented on #53
Can you explain how it affects this library, please?

[2016-03-18 16:58] buzinas opened #55 "Update npm dependencies"

[2016-03-18 17:05] #55 closed

[2016-03-18 17:18] buzinas opened #57 "Create array-bracket-spacing rule"
We're gonna need this to our projects, and tslint can also benefits from this (https://github.com/palantir/tslint/issues/1045.).

[2016-03-18 17:19] buzinas opened #58 "Create object-curly-spacing rule"
We're gonna need this for our projects, and tslint can also benefits from this (https://github.com/palantir/tslint/issues/1044).

[2016-03-18 18:52] unional commented on #53
Currently I'm discussing with @JKillian about how to handle `rulesDirectory`.
See this comment: https://github.com/palantir/tslint/pull/1016#issuecomment-194690545
The issue is the relative path through `node_modules` as it is different between npm 2/3+.

My opinion is that consumer should not reference things in `node_modules` directly as in your example in README

[code]

If use the `extends` fe

[2016-03-18 18:54] buzinas commented on #53
Can't your project be a peer dependency to mine, instead of a true dependency?

[2016-03-18 19:13] unional commented on #53
If it is a peer dependency, that means the user need to aware of using `tslint-eslint-rules` and also do the `rulesDirectory: "node_modules/tslint-eslint-rules/dist/rules"` themselves in order for it to work.

i.e., the user need to:
[code]
[code]

instead of:
[code]
[code]

[2016-03-21 18:34] buzinas commented on #53
Merged https://github.com/buzinas/tslint-eslint-rules/pull/59, and hopefully @JKillian will be handling that inside TSLint.

[2016-03-21 18:34] #53 closed

[2016-03-28 21:17] nfriend opened #60 "no-control-regex: Example of incorrect code on eslint.org doesn't trigger an error"
According to eslint.org's documentation on the `no-control-regex` rule (http://eslint.org/docs/rules/no-control-regex), the following should throw a linting error when `no-control-regex` is `true`:

[code]

However, no error is thrown.  The second example in the documentation _does_ cause a linting error, as expected:
[code]

[2016-03-28 21:28] nfriend opened #61 "no-constant-condition: Error is thrown for any negated expression"
The following causes a linting error if `no-constant-condition` is `true`:

[code]
Removing the negation removes the linting error:

[code]

[2016-03-28 21:38] nfriend opened #62 "no-ex-assign: Rule is triggered outside of catch blocks"
The following causes a linting error when `no-ex-assign` is set to `true` (line 4, column 12):

[code]

[2016-03-28 22:03] nfriend opened #63 "no-unexpected-multiline: Error is triggered on multi-line conditional statement or multi-line property access"
The following triggers a linting error when the `no-unexpected-multiline` rule is `true`:

[code]

Similarly, a multi-line property access triggers this error:

[code]

These examples don't trigger linting errors when tested on the [eslint.org demo page](http://eslint.org/demo/).

[2016-03-29 11:32] RomkeVdMeulen commented on #61
Also experiencing this.

[2016-03-29 12:10] buzinas commented on #62
Similar to #54, I'll close this, and keep the tracking there.

[2016-03-29 12:10] #62 closed

[2016-03-29 12:10] buzinas commented on #54
@nfriend

[2016-03-29 16:29] #61 closed

[2016-03-29 20:26] #63 closed

[2016-03-29 20:44] nfriend commented on #60
@buzinas - I can take a look at this one unless you've already started on it.

[2016-03-29 20:51] buzinas commented on #60
Didn't start yet. I took a look and I think the problem is that I'm only looking at the first token. So, probably if you loop through the tokens, it will be fixed (not sure if that's the problem, though). Thank you!

[2016-03-31 18:29] #51 closed

[2016-04-02 00:12] unional commented on #53
`extends` has landed. Now your user can reference your package through:
[code]
What you need is in your own `tslint.json`:
[code]

Cheers,
Unional

:rose:

[2016-04-02 00:40] buzinas commented on #53
Thanks, @unional! Good job :)

[2016-04-02 02:03] nfriend opened #68 "Create array-bracket-spacing rule"

[2016-04-02 02:04] nfriend commented on #68
I have a good start on this rule.  Just need to figure out some edge cases.

[2016-04-02 03:09] buzinas commented on #68
@nfriend There is already an opened issue for this: https://github.com/buzinas/tslint-eslint-rules/issues/57

Btw, I have already started it, so, you maybe should choose another one :P

[2016-04-02 03:10] #68 closed

[2016-04-02 03:12] nfriend commented on #68
Whoops, guess I should have searched through the other issues first :)

[2016-04-02 03:26] nfriend commented on #57
This might be relevant while you work on this rule:

https://github.com/eslint/eslint/issues/5768

[2016-04-02 03:42] buzinas commented on #57
@nfriend I told you that I had started this rule, but it was a mistake. I started [object-curly-spacing](https://github.com/buzinas/tslint-eslint-rules/issues/58) (somewhat similar to this one) with my friend.

Feel free to take this one for you, if you want to :)

[2016-04-02 04:53] nfriend commented on #57
Awesome, I'll keep working on it.

[2016-04-04 17:22] buzinas commented on #57
Whoa, that's awesome! Thanks very much :smile:

[2016-04-04 17:22] #57 closed

[2016-04-04 17:33] buzinas commented on #57
@nfriend Version 1.2.0 released, thanks!

[2016-04-04 17:37] buzinas commented on #68
@nfriend If possible, could you please put an example of this rule in https://github.com/buzinas/tslint-eslint-rules/blob/master/eslint_tslint.json and update README, please?

[2016-04-04 17:37] buzinas commented on #68
Forgot to ask during the Pull Request.

[2016-04-04 17:56] nfriend commented on #68
@buzinas Sure, no problem.

[2016-04-04 18:20] nfriend commented on #68
See #70.

[2016-04-04 20:18] nfriend opened #71 "Create block-spacing rule"
@buzinas Mind if I start on this one?

[2016-04-04 20:30] buzinas commented on #71
Feel free to start any rule you want, I'll be really grateful :)

[2016-04-04 20:32] buzinas commented on #71
Added you as a collaborator. I only ask you to always use PR's for pushing stuff, please.

[2016-04-04 20:33] nfriend commented on #71
Sounds great!

[2016-04-05 05:00] buzinas commented on #60
I think it's an error in ESLint documentation.

It seems that there is no way to create a RegExp with control characters without the constructor. Look:

[code]

[2016-04-06 18:28] #71 closed

[2016-04-06 19:52] nfriend commented on #60
@buzinas I agree - I'll close this for now and wait on the resolution of the similar eslint issue I opened: https://github.com/eslint/eslint/issues/5737.

[2016-04-06 19:52] #60 closed

[2016-04-06 19:56] nfriend opened #73 "Create brace-style rule"

[2016-04-07 04:38] leocaseiro opened #74 "indent with "4" or "2" spaces"
Hi, Thanks for this TSLINT extension. That would be nice if we replace the indent method with the [eslint one](http://eslint.org/docs/rules/indent).

So we could set the number of spaces, like:

`{indent: [true, 2]}`
`{indent: [true, 4]}`
`{indent: [true, "tab"]}`

What do you think?

Thanks

[2016-04-07 04:48] buzinas commented on #74
Hello, @leocaseiro, thanks for the issue.

If we're going to support this, I won't reinvent the wheel, so we should have a separate rule for that, e.g:

[code]

And then we could add to the docs to combine it with the `indent` rule, when using spaces.

If you have the time, take a look at [the Contributors Guide](https://github.com/buzinas/tslint-eslint-rules#contributing) and feel free to send a

[2016-04-07 11:16] RomkeVdMeulen opened #75 "TypeError: Cannot read property 'kind' of undefined"
I'm getting this error:

[code]

Maybe related to palantir/tslint#832 but I'm not sure since that's supposed to be fixed. Using tslint 3.7.1, tslint-eslint-rules 1.0.1, typescript 1.8.9.

[2016-04-07 11:31] buzinas commented on #75
Can you update tslint-eslint-rules to the last version, please?

Not sure if it will solve the problem, but if it does, better :)

[2016-04-07 11:36] buzinas commented on #75
Hm, looking at the logic, it seems to be broken indeed. Can you please show me what's the code that is generating this error, please?

[2016-04-07 12:09] RomkeVdMeulen commented on #75
I can't tell which code this error is generated on: the error occurs before anything is reported.

Updating to tslint-eslint-rules 1.2.0 fixes this. :smile:

[2016-04-07 12:18] buzinas commented on #75
Weird.

But I'm happy that updating it fixed your issue!

[2016-04-07 12:18] #75 closed

[2016-04-11 01:49] #73 closed

[2016-04-12 16:30] nfriend opened #78 "Create camelcase rule"
http://eslint.org/docs/rules/camelcase

[2016-04-12 19:16] buzinas commented on #78
I think we have `variable-name` for that in TSLint, don't we?

[2016-04-12 19:19] nfriend commented on #78
Yes, you're right.  Good catch.

[2016-04-12 19:19] #78 closed

[2016-04-17 19:26] dotdat opened #79 "README Todos as a Roadmap?"
Hi, I'm very excited about this repo. However, it seems that there are a lot of non-implemented rules written up in the readme. The contribution guidelines also say something about creating an issue for rules that are not found.

I have two questions about the future of this repo:
1) Could we assume that all items labelled as TODO are effectively items on a roadmap?

2) If there is a rule that we

[2016-04-17 19:31] buzinas commented on #79
Hi, @dotdat, thanks for your comment!

1) Yes, all the existent ESLint rules that doesn't have a correspondent one in TSLint is on the roadmap (although there is no timeline).

2) It's good to create a issue before the PR, because it avoids different contributors developing the same rule. But, as soon as you open the issue, you can assign it to you, and start contributing :)

Thanks for your time,

[2016-04-21 11:28] thefabulousdev opened #80 "Missing TODO in no-fallthrough in README.md"
`no-fallthrough` has no label `TODO` even though it's not yet implemented

[2016-04-21 16:03] buzinas commented on #80
According to README, there is a TSLint rule equivalent: `no-switch-case-fall-through`

The `usage` example is wrong, though.

[2016-04-22 21:01] #80 closed

[2016-04-22 21:01] #79 closed

[2016-04-25 21:45] krzkaczor opened #81 "Enforce Callback Error Handling (handle-callback-err)"
Issue related to PR

[2016-04-25 21:49] krzkaczor commented on #81
PR: https://github.com/buzinas/tslint-eslint-rules/pull/82
Done according to: https://github.com/buzinas/tslint-eslint-rules

[2016-04-26 15:37] JKillian commented on #53
Just to follow up on this, might be worth making this small tweak! It shouldn't break anything for users who are using your package in other ways, but will let new users use `extends` if they want to. @unional want to make a PR for this?

[2016-04-27 00:02] #81 closed

[2016-04-27 06:18] unional commented on #53
I'm busy until end of next week. Can do it by then if it is not done sooner. :)

[2016-04-28 03:42] abierbaum opened #83 "Best way to use latest code out of git on a project?"
I have been using tslint-eslint-rules for a few weeks.  It is a great project and is proving very helpful.

We are currently using it by pulling it in as a devDependency using npm.  It all works great.

I noticed that there are some new rules that have been added but there is no new release available.  I am trying to find a way to use the latest master HEAD but can't find an easy way to do this.

[2016-04-28 21:59] buzinas commented on #83
Hi, @abierbaum. Thanks for the issue!

Currently, only the NPM packages have the compiled rules, so you won't be able to use directly from Github.

If you really want to use the latest and greatest before a version is published, you can clone this repo, and then run `npm i`. After everything is installed, you should run `gulp build`.
After that, you'll have the rules compiled into `dist/rules` and

[2016-04-28 22:10] buzinas commented on #83
New version published to NPM :)

[2016-04-28 22:10] #83 closed

[2016-05-21 20:09] blakeembrey opened #85 "No ex assign seems buggy"
Enabled it and broke builds across at least a dozen repos. Trying to do clean up now on it, but here's some examples (none do any exception assignment):

* https://travis-ci.org/TypeStrong/ts-node/builds/131967778
* https://travis-ci.org/typings/typings/builds/131969123
* https://travis-ci.org/blakeembrey/promise-finally/builds/131968888 (this one is a _very_ trivial repro)

Trivial replication fr

[2016-05-21 20:27] blakeembrey opened #86 "False positives for `no-constant-condition`"
Errors on increment/decrement.

[code]

[2016-05-23 18:37] buzinas commented on #85
There is already an issue opened for `no-ex-assign`, there are lots of false positives.

Unfortunately, I don't have time to look at this now, but if you want, please, feel free to open a pull request for that.

I'll close this one to keep the other opened: https://github.com/buzinas/tslint-eslint-rules/issues/54

[2016-05-23 18:37] #85 closed

[2016-05-27 14:08] jkyoutsey commented on #58
Road map? ETA?

[2016-05-27 14:44] buzinas commented on #58
Unfortunately, no ETA, too busy lately, and I can't estimate when this is gonna end.

But please, feel free to open a PR for it, if you want to.

[2016-05-31 17:04] ksiegel opened #87 "no-extra-boolean-cast misses double negation when certain operators are present"
The following two don't fail:
`if (!!lastUpdated && !!savedJwt) {`
`if (!!lastUpdated || !!savedJwt) {`

I don't know the TS lib well enough to submit a PR, but I think the logic here should change:
https://github.com/buzinas/tslint-eslint-rules/blob/master/src/rules/noExtraBooleanCastRule.ts#L33

Thanks for everything - great library!

[2016-06-16 09:59] Hufschmidt commented on #54
The following code also throws no-ex-assign on line 3 col 2

    import {Component} from '@angular/core';

    @Component({

    })
    export class App {
    }

with tslint 3.11 and tslint-eslint-rules 1.3.0

[2016-06-16 12:23] Hufschmidt commented on #58
Please merge the PR. The current behaviour makes the _block-spacing_ rule pretty useless in its current state. :(

[2016-06-16 12:30] Hufschmidt commented on #54
See PR, tested with all linked examples. Still triggering for actuall exception assignments, eg.

    import {Component} from '@angular/core';

    @Component({
    })
    export class MyApp {
      public hi() {
        try {
          console.log('Hello World');
        }
        catch (e) {
          // Hi
          let z = 'xxxx';
          e = 2;
          let x = e;
          z.toString();

[2016-06-19 20:20] blakeembrey opened #90 "Handle Callback Error Rule failing"
I believe it's actually the latest TypeScript nightly, but the code is receiving `undefined` and not `null` as the original implementation was based on. See https://github.com/buzinas/tslint-eslint-rules/commit/8f6f4c3bf147647ed66de5bf5baf37e96e7886f7#commitcomment-17927376.

[2016-07-10 22:45] ova2 opened #92 "no-constant-condition doesn't consider checkLoops"
There is a new boolean option `checkLoops` which is very useful. See http://eslint.org/docs/rules/no-constant-condition

But it is impossible to configure it because the current rule for `no-constant-condition` doesn't consider this option. I want to configure this rule as follows:

[code]

[2016-08-05 04:31] bressain opened #93 "brace-style error when try/finally block is missing a catch block"
The brace-style rule throws when it encounters a `try`/`finally` block with no `catch`, e.g.
[code]
Adding the `catch` block fixes the problem.

The error is something like:

[code]

[2016-08-09 18:33] mmc41 opened #94 "Problem extending from eshint file (eslint-config-hapi)"
I want to use hapijs eshint rules in a typescript project. The hapijs esrules are made available by the eslint-config-hapi npm module.

I am trying to use extend from the eshint rules by writing a tslint.json file like this
{
    "extends": "eslint-config-hapi",
    "rules": {
      "no-constant-condition": true
    }
}

Unfortunately, I get this error when ruinng eslint (after installing the esli

[2016-08-09 18:34] mmc41 commented on #94
Sorry wrong - repo

[2016-08-09 18:34] #94 closed

[2016-08-18 23:20] bcherny opened #95 "Usage in VSCode?"

[2016-08-18 23:31] buzinas commented on #95
You must install the [TSLint extension](https://github.com/Microsoft/vscode-tslint) and then, in your `tslint.json` file, you must configure a `rulesDirectory` property, e.g:

[code]

[2016-08-18 23:55] bcherny commented on #95
That's what I tried, and it doesn't seem to work. As soon as I add the `object-shorthand` line to my tslint.json, the tslint service crashes silently so linting stops working (due to https://github.com/Microsoft/vscode-tslint/issues/66).

Is there another place I should put my eslint rules, instead of mixing them into my tslint rules?

tslint.json:

[code]

[2016-08-19 00:02] buzinas commented on #95
That's because `object-shorthand` is a rule that we didn't port from ESLint to TSLint ESLint Rules yet.

In [our README](https://github.com/buzinas/tslint-eslint-rules/blob/master/README.md), you can see all the rules and their current status. If a rule has the word "TODO" right besides it, it means that this rule wasn't ported yet.

[2016-08-19 00:08] bcherny commented on #95
Ah, got it. The first few rules in the readme don't have TODOs, so I assumed all the rules are supported.

At a high level it seems like a bad idea to manually port eslint rules, as they're a fast moving target. A loftier goal might be an AST transformer that takes a TypeScript AST and gives an Esprima-compatible AST, so it can be passed to eslint as a parser.

Anyway, thanks for helping debug!

[2016-08-19 00:08] #95 closed

[2016-08-24 18:31] eduardonunesp opened #96 "Comma dandle rule"
The comma-dangle rule is present on the tslint documentation, but isn't available on rules

[2016-08-24 18:33] buzinas commented on #96
There is a similar rule already available in TSLint. You can see in the README:

comma-dangle (ESLint) => trailing-comma (TSLint)

    "trailing-comma": [
      true,
      {
        "multiline": "never",
        "singleline": "never"
      }
    ]

[2016-08-24 18:33] #96 closed

[2016-08-25 15:37] jigawot opened #97 "No Inner Declarations Rule"
As far as I can tell, the rule about declaring nested functions is as follows:

In strict mode, function declarations cannot be nested inside a statement or block. They may only appear at the top level or directly inside a function body.

Thus, if you declare

[code]

it will be compiled into something that looks vaguely like this (depending on your module output setting)

[code]

This, therefore,

[2016-08-25 18:37] buzinas commented on #97
I would be glad to receive a PR for this.

[2016-08-27 21:36] jmlopez-rod opened #100 "valid-jsdoc breaking the tests"
This would explain why all the checks in the pull requests are failing since at least the last test in `valid-jsdoc` is broken.

[2016-08-28 04:01] jmlopez-rod opened #102 "no-multi-spaces usage"
Hi, I'm trying to write the rule for no-multi-spaces and I was just wondering about the documentation:

[code]

Why are we making the exceptions a list of objects with only a single key? wouldn't it be easier to remember its usage if we just think of the exceptions as an object where you can turn the rule off and on?

[code]

Either way, I still have yet to write the rule but I will keep this issu

[2016-08-28 22:36] jmlopez-rod commented on #102
I have succeed in creating the rule and the eslint tests are passing. I have also opted to use my suggestion on how to provide the exceptions. I will create a pull request as soon as the other PRs I have submitted get resolved. For anyone interested see this diff:

https://github.com/jmlopez-rod/tslint-eslint-rules/compare/object-curly-spacing...jmlopez-rod:no-multi-spaces

[2016-08-29 09:26] arnochauveau opened #103 "'no-self-assign' is not in the README."

[2016-08-29 12:47] jmlopez-rod opened #105 "enforcing object-curly-brace in project"
So far it seems that the project is following the rule of adding a space in the braces:

[code]

But on the imports we are doing

[code]

Once the `object-curly-brace` is added we should enforce it so that we either always have a space or not. Any thoughts?

[2016-09-05 12:51] #100 closed

[2016-09-05 13:10] #90 closed

[2016-09-05 13:16] #93 closed

[2016-09-05 13:17] buzinas commented on #92
Thanks for the issue. I would be glad to accept a PR for this.

[2016-09-05 13:19] buzinas commented on #54
@Hufschmidt Unfortunately, the linting is not passing for the submitted PR.

[2016-09-05 13:24] buzinas commented on #103
Since ESLint is moving forward pretty fast, it's probably one of the new rules that didn't exist when this project was created. I'll be glad to accept a PR for this, if you want to.

[2016-09-05 13:26] buzinas commented on #102
Not sure why it was a list of objects, probably a typo.

I'll be glad to accept the PR.

[2016-09-05 13:27] buzinas commented on #105
I'll fix that for the next release. Thanks for the issue!

[2016-09-05 13:27] #105 closed

[2016-09-05 15:10] buzinas commented on #58
@jkyoutsey It will be available in v1.5.0

[2016-09-05 15:14] buzinas commented on #58
Version 1.5.0 released!

[2016-09-05 15:14] #58 closed

[2016-09-05 19:19] jmlopez-rod opened #107 "condensed rule list"
As it currently stands, the README file has grown a lot and it gets harder to see the available rules. I'd like to suggest the following:

Create a wiki page for each rule that is created in the project and create a table in the readme file which provides the links to the orginal eslint docs, tslint docs and the wiki page for the rule.

The table may be in the following form:

| Availability | esl

[2016-09-05 21:08] buzinas commented on #107
I would be glad to accept a PR for this :)

[2016-09-05 22:32] jmlopez-rod commented on #107
Ok, still working on this, I'll make a PR for this but it needs more work and discussion. Here you can see a preview of the full table: https://github.com/jmlopez-rod/tslint-eslint-rules/tree/readme-rules-table

[2016-09-11 10:59] #107 closed

[2016-09-11 13:15] jmlopez-rod commented on #103
It seems that the README is missing much more:

- [class-methods-use-this](http://eslint.org/docs/rules/class-methods-use-this)
- [func-call-spacing](http://eslint.org/docs/rules/func-call-spacing)
- [line-comment-position](http://eslint.org/docs/rules/line-comment-position)
- [lines-around-directive](http://eslint.org/docs/rules/lines-around-directive)
- [max-lines](http://eslint.org/docs/rules/m

[2016-09-18 23:43] #103 closed

[2016-09-18 23:44] #102 closed

[2016-09-24 16:26] jmlopez-rod commented on #97
This issue can now be closed since the PR has been merged: https://github.com/buzinas/tslint-eslint-rules/pull/98

[2016-09-26 14:15] #97 closed

[2016-09-26 16:21] zelein opened #113 "no-multi-spaces not apart of dist/rules"
I installed tslint-eslint-rules and TSLint is complaining about not recognizing the no-multi-spaces rule. I checked in `node_modules/tslint-eslint-rules/dist/rules` and the `noMultiSpacesRule.js` is non-existent.

[2016-09-26 16:28] zelein opened #114 "no-ex-assign going wild"
The `no-ex-assign` is flagging code that isn't even within a catch statement.

It's flagging each chai.expect statement in this basic test.
[code]

It's doing this in many other places where there are no existing catch statements.

[2016-09-26 16:46] zelein opened #115 "Update project to support TSLint extends"
TSLint now supports the `extends` property like ESLint.

tslint-eslint-rules should be updated to export its rules with the default set to take advantage of module resolution so that we no longer have to specify the rules directory. Then the developer using the config can just turn off or change what they need as normal in the "rules" property.

[2016-09-26 16:46] buzinas commented on #114
It's a known issue and #54 is already open for that. Also, there is a pending PR for fixing it (#89).

[2016-09-26 16:46] #114 closed

[2016-09-26 16:47] buzinas commented on #54
@zelein

[2016-09-26 16:48] zelein commented on #54
Oh, thanks @buzinas I didn't realize this was here. Thanks for closing my issue.

[2016-09-26 16:50] buzinas commented on #113
It was added in #106, but no releases were made since them. I'll publish 1.6 soon.

[2016-09-26 16:50] #113 closed

[2016-09-26 16:51] buzinas commented on #115
It's not in the project's scope, but I'll be glad to accept a PR for this.

[2016-09-26 16:52] zelein commented on #115
Understandable. The problem I'm having is I am wrapping this config within my own config, but when I install it in another project the path resolution to the rulesDirectory is no longer correct. This is because NPM is installing the tslint-eslint-rules module at the top level node_modules instead of within my wrapped config module.

[2016-09-26 16:52] jmlopez-rod commented on #115
I'm not sure if that would be a good idea. As @buzinas mentioned, the scope of the project is to provide rules, it is up to users to choose what they need from it. As an example take a look at this project: https://github.com/blakeembrey/tslint-config-standard, this one creates a configuration using the rules provided by the project.

[2016-09-26 16:53] zelein commented on #115
Thanks for the insight. That has indirectly led me to what I think will solve my issue.

`rulesDirectory: path.join(path.dirname(require.resolve('tslint-eslint-rules')), 'dist/rules'),`

[2016-09-26 16:56] buzinas commented on #115
Thanks @jmlopez-rod. If it doesn't solve your issue, feel free to share your code/project, and I can try to help you. If it does, then feel free to close the issue :)

[2016-09-26 16:59] buzinas commented on #54
@Hufschmidt if you don't mind, I'll copy the ideas provided from your PR and submit one myself, so we can merge this.

[2016-09-26 17:00] zelein commented on #115
The bit of code I provided above proved successful!

Thanks all.

[2016-09-26 17:00] #115 closed

[2016-09-26 19:03] jmlopez-rod opened #116 "upgrading to typescript 2.0"
Now that typescript 2.0 is out we may want to update our dependencies and check that everything works well with TSLint. Also, we may be able to get rid of the `typings` folder since we will be able to do `npm install @types/[insert-package-here]` and typescript should be able to pick up the definitions.

[2016-09-27 05:18] #86 closed

[2016-09-27 05:18] buzinas commented on #86
The error was fixed and it will not happen anymore in the next release.

[2016-09-27 05:20] #54 closed

[2016-09-27 05:36] #87 closed

[2016-09-27 05:53] buzinas commented on #114
The issue was fixed, and the problem won't help anymore in the next release.

[2016-09-27 05:54] buzinas commented on #87
The issue was fixed and the problem won't happen anymore in the next release.

[2016-09-27 05:56] #92 closed

[2016-09-27 05:56] buzinas commented on #92
The option was added and it will be available in the next release.

[2016-09-27 05:59] buzinas commented on #74
@jmlopez-rod Would you be able to see this one?

[2016-09-27 06:03] buzinas commented on #116
Although v2.0 was published, since the main package is still 1.8.10 (when doing `npm i typescript`, it installs 1.8.10 yet), I'll wait for 2.0 being replacing it as the main one.

[2016-09-27 06:08] buzinas commented on #114
@zelein v1.6.0 released

[2016-09-27 06:08] buzinas commented on #113
@zelein v1.6.0 released

[2016-09-27 06:11] buzinas commented on #92
@ova2 v1.6.0 released

[2016-09-27 06:11] buzinas commented on #87
@ksiegel v1.6.0 released

[2016-09-27 06:11] buzinas commented on #86
@blakeembrey v1.6.0 released

[2016-09-27 06:19] Hufschmidt commented on #54
Sure, go ahead. :)

[2016-09-27 06:20] buzinas commented on #54
@Hufschmidt ty, just did it, the fix was released in v1.6.0

[2016-09-27 08:33] ova2 commented on #92
Thanks. Amazing. I will check it.

[2016-09-27 14:30] jmlopez-rod commented on #74
I would love to. I'm getting tired of seeing some of my project files without the proper level of indent.

[2016-09-27 14:34] buzinas commented on #74
@jmlopez-rod I thank you in advance :)

[2016-09-30 15:01] jcristovao commented on #116
Hey @buzinas , are you sure? Because looking at [npm](https://www.npmjs.com/package/typescript) now the current version seems to be 2.0.3

[2016-09-30 15:06] buzinas commented on #116
At the time I was writing, yeah, I'm sure. But I didn't test it today, so I don't know if it's no longer true. I'm completely busy today, but I'll check this later, when I got sometime.

[2016-09-30 15:21] jcristovao commented on #116
Sure! I was just commenting because I was doing the upgrade today and I noticed it was official, so I had that fresh on my mind :)

[2016-09-30 23:20] blakeembrey opened #118 "More false positives with `no-ex-assign`"
It's not checking for assignment, but usage by the looks of it 😦 For example, this code still fails:

[code]

Related to https://github.com/TypeStrong/ts-node/pull/201.

[2016-09-30 23:23] buzinas commented on #118
Thanks for the issue. I'll check it asap. In the mean time, if you wanna take a look, I would appreciate.

[2016-10-01 05:41] #118 closed

[2016-10-01 05:58] blakeembrey opened #120 "Review `handle-callback-err` rule"
I enabled it briefly, but it's still a bit buggy (unfortunately). I'm logging this issue to make sure I or someone else can review later. Here's the latest location that failed and I believe should have passed:

* https://github.com/blakeembrey/compose-middleware/blob/master/src/index.ts#L61-L79

[2016-10-01 06:02] blakeembrey commented on #120
Oh, I remember the other issue I encountered - all the TSLint indexes were off-by-one.

[2016-10-01 06:15] blakeembrey commented on #120
Oh, that's interesting - it seems that it is passing, but fails when the error argument is not in the first position. Investigating now, hopefully I'll have a PR for you 😄 Any advice on test the position?

[2016-10-01 06:23] #116 closed

[2016-10-01 06:24] buzinas commented on #120
Didn't understand exactly what you meant.

[2016-10-01 06:26] blakeembrey commented on #120
Sorry, I wanted to add a test and make sure the off-by-one error didn't appear again. It's all good though, I've just implemented it like I saw other code and it should work fine now. PR inbound!

[2016-10-01 06:37] #120 closed

[2016-10-03 04:39] blakeembrey opened #124 "Please generate and publish as ES5"
This project has broken on every node version except 6.0 since the 2.0 release - can you please transpile it to ES5 instead of ES6? See https://travis-ci.org/TypeStrong/ts-node/builds/164519486.

[2016-10-03 04:47] buzinas commented on #124
Yeah, you're right. That's exactly why it was a major bump instead of a minor one.

It was [a breaking change for dropping support on older Node versions](https://github.com/buzinas/tslint-eslint-rules/commit/a8f558f8b25ec0965c1d31bac5ed603713f569f6#diff-354f30a63fb0907d4ad57269548329e3).

[2016-10-03 05:12] blakeembrey commented on #124
But why? There's literally no reason to do this, and as a result I'll end up just forking the entire project and working by myself instead because I can't recommend this to anyone anymore. I'd love not to duplicate efforts and I see zero reason why'd you change this - it's not like it changes development for you either, since you're using TypeScript as a transpiler.

[2016-10-03 05:15] blakeembrey commented on #124
For reference, every single project I develop is currently broken. That's around 100 projects for me alone. It's pretty ridiculous to impose a min-node version on a development tool like linting. If you don't want to support older node versions (which, by the way, are currently being used in production still - not everyone runs on the cutting edge, 4.0 is still LTS) I'll be happy to maintain a for

[2016-10-03 05:22] blakeembrey commented on #124
I can also rely on 1.0 as you suggest, but you aren't developing the 1.0 branch anymore and it still contains all those bugs I just fixed. If you are maintaining 1.0, please open a branch so I can make PRs against that instead to maintain it.

[2016-10-03 05:28] jmlopez-rod commented on #124
I'm with @blakeembrey on this one. Not everyone is yet using node 6.0, in some cases I have found myself going back to node v5 simply because node 6 breaks some of my projects. Can we get transpilation to es5 pretty please?

[2016-10-03 05:29] buzinas commented on #124
OK, you have fair concerns. I'll accept a PR for changing the compilation target to ES5.

[2016-10-03 05:30] buzinas commented on #124
Please, while targeting ES5, some contributors started using `Map` and `Promise`. None of them are available in ES5, so you'll need to add type definitions for them.

[2016-10-03 05:35] jmlopez-rod commented on #124
@buzinas , `Promise` and `Map` seems to be included in `node_modules/typescript/lib/lib.es6.d.ts` which is included in the build process as a source file. Perhaps we can change to es6 once the TSLint project changes to it: https://github.com/palantir/tslint/blob/master/scripts/tsconfig.json

[2016-10-03 05:39] buzinas commented on #124
If we're referencing it, we must do it inside `tslint.json` instead of one of the parameters to `gulp-tslint`.

[2016-10-03 05:54] blakeembrey commented on #124
Can I replace `Map` and `Promise` with ES5 equivalents? I couldn't find where `Promise` is used, and fixing the `Map` usage is also pretty straightforward since it's only used as a dictionary anyway.

[2016-10-03 05:56] jmlopez-rod commented on #124
@blakeembrey Promises are used in `src/readme` to deal with reading files asynchronously.

[2016-10-03 06:07] buzinas commented on #124
@blakeembrey for me, absolutely no problems in replacing them.

[2016-10-03 15:14] jcristovao commented on #116
Thanks!

[2016-10-03 16:23] buzinas opened #126 "Rule no-extra-parens"
One of this project's goals is to completely have covered all the rules marked as "Possible Errors" in ESLint. They are the most critical rules exactly because they avoid errors.

The only rule remaining in the list is `no-extra-parens`, and we should implement it asap.

[2016-10-03 17:39] blakeembrey commented on #124
@jmlopez-rod Is that only for generation and not runtime? I'd be fine not touching that then.

[2016-10-03 18:22] #124 closed

[2016-10-03 18:29] jmlopez-rod commented on #124
@blakeembrey , yeah, those are only for generating the readme file contents, they are not used within the rules. Either way, saw the PR, it looks good. I was going to add it but I did not feel so comfortable adding another `.d.ts` file. With TS 2.0 many projects include their definitions so this looks really good.

[2016-10-10 03:50] jmlopez-rod commented on #74
Just wanted to write an update. I believe I have successfully ported the rule from [eslint](https://github.com/eslint/eslint/blob/master/lib/rules/indent.js). I say I believe because I have manage to make all their [tests](https://github.com/eslint/eslint/blob/master/tests/lib/rules/indent.js) pass.

At this point I can't make the PR since I have lots to clean up. I need to properly format all the

[2016-10-11 15:33] jmlopez-rod opened #129 "project rule prefix"
In the tslint [docs](https://palantir.github.io/tslint/develop/custom-rules/) it states

What would happen when tslint creates a core rule that has the same name as one provided by eslint? Will our rule become invalid and we won't be able to use it? As of now I'm almost ready to submit a PR for the `indent` rule, but this rule is already a core rule for tslint. I know in the issue you suggested we

[2016-10-11 15:45] buzinas commented on #129
This is a breaking change, not sure if the problems caused by different implementations would be relevant enough to do this.

I'll leave the issue open, so we can see how the community react, and also maybe someone comes with a great idea. Let's see what happens. For now, let's wait :)

[2016-10-11 16:52] jmlopez-rod commented on #129
It is a breaking change, that's why we are not going to go and rename all the rules we have right now. I think the rules that are standing right now we'll stay as they are, and only in the case TSLint provides a core rule with the same name then we change the name so that users can select between the core rule or the one provided by the project. At that point we simply deprecate the rule in favor

[2016-10-11 16:53] jmlopez-rod commented on #129
But yeah, lets wait to see what others have to say. I think people would find it easier to just see the prefix and know where the rule comes from.

[2016-10-11 19:04] jmlopez-rod commented on #74
Ok, this is almost done, I took it out in wild by including the js file in my other projects and it seems to work ok (found one tiny bug though). There's a bit more refactoring I'd like to do but for anyone that wants to start using it can go ahead and do what I did:

https://gist.github.com/jmlopez-rod/da74fd48e8f963322ba24a92947b5ed0

Just copy that file to `node_modules/tslint-eslint-rules/dist

[2016-10-24 17:30] jmlopez-rod commented on #74
Does anyone who have tried the rule have any comments on the name? I'd like to make the PR sometime next weekend and start porting other rules. I'd really like to have the names to match with eslint as close as possible to avoid confusion.

[2016-10-30 11:17] alitaheri opened #130 "[no-constant-condition] fails when both sides are explicitly coerced"
### Bug Report
- **TSLint version**: `3.15.1`
- **TSLint ESLint Rules version**: `2.1.0`
- **TypeScript version**: `nightly 2.1.0-dev.20161029`
- **Running TSLint via**: CLI
#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]
#### Actual behavior

`unexpected constant condition`
#### Expected behavior

No warnings.

[2016-10-30 15:02] jmlopez-rod commented on #130
I think this is beyond the current scope of the rule. See the eslint documentation for the rule: http://eslint.org/docs/rules/no-constant-condition.

The rule can't do analysis to determine that you have a constant expression. I think the rule was made to prevent debugging code from making it in production. Currently a constant expression
can be a:

- String Literal
- Function Expression
- Object

[2016-10-30 15:28] alitaheri commented on #130
@jmlopez-rod I'm sorry, I actually mixed up the actual and expected behaviors 😅

I mean, it shouldn't warn me for that, but it does. This is not a feature request it's a bug report :grin:

[2016-10-30 18:17] jmlopez-rod commented on #130
@alitaheri , thanks, I have submitted a PR with a fix.

[2016-11-01 07:58] Diokuz opened #134 "The rule is provided natively by TSLint."
What exactly does that mean?

1. The rule is provided by tslint, but you also can use eslint version.
2. The rule is provided by tslint and will never be in `tslint-eslint-rules`. Links to eslint docs are just for information.

for example: `no-trailing-spaces` rule of eslint is in readme (and I thought I can use it, because tslint version `no-trailing-whitespace` is buggy), but it doesnt work at

[2016-11-01 13:59] jmlopez-rod commented on #134
It really just means that the rule is provided by TSLint at the moment. If the rule provided by TSLint doesn't match what ESlint does then we may write that rule and change the status of the rule to say that this project provides it.

I would say that if a native TSLint rule is buggy we should report it to the TSLint project. But given that their releases take a long time, it is almost better to t

[2016-11-02 21:20] noxan commented on #74
I was able to find only a single issue - no, first of all great job, works like a charm! :)

But getting back on giving you some feedback. I had an issue with `undefined` values as parameters for the following two functions (line numbers ahead):

- 16: `function isKind(node, kind) {`
- 170: `IndentWalker.prototype.getNodeIndent = function (node) {`

You should be able to reproduce the issue with t

[2016-11-02 21:58] jmlopez-rod commented on #74
@noxan , thanks for the feedback. I think some of the latest changes I made may have fixed it. I just tried your example (will add it to the tests) and if I purposely do it wrong I get the expected results:

[code]

This is the configuration used:

[code]
Yeah, I would also be happy if this makes it in soon along with max-line rule. I have modified the gist file with the compiled file so you may c

[2016-11-02 22:53] leocaseiro commented on #74
Hi @jmlopez-rod, thank you so much for this rule. It's really nice.

However, I'm not sure why I'm having the wrong maths.

I set to be:

[code]

So I expect to validate always 4 spaces for each indentation.

However, I'm getting the wrong messages.

This is my code, I have a switch case, inside a method, inside my class.
I have also `no-trailing-whitespace` enabled.

Eq:
[code]

All my `case` ind

[2016-11-02 23:04] leocaseiro commented on #74
Never mind, I've just found my issue.
By default, SwitchCase is not expected to be indented, so you need to enable, like so:

[code]

[2016-11-02 23:06] leocaseiro commented on #74
@jmlopez-rod in regards to the name of the function, honestly I believe something like:
`indent-rules` or `indent-spaces` would be a better name.

I'm not sure where did you get the `ter` from.

Other than that. I'd love this PR. Even though I'm using it already in my source.

Very very happy.
Sorry for my delay.

[2016-11-02 23:13] jmlopez-rod commented on #74
@leocaseiro , thank you for the feedback and I'm glad its already being used. In regards to the name please see this issue: https://github.com/buzinas/tslint-eslint-rules/issues/134

There are many names that a rule can have and many potential conflicts with rules that TSLint may bring. For that reason I would really like to have a prefix for future rules that come out of this project so that we c

[2016-11-02 23:15] leocaseiro commented on #74
Hi @jmlopez-rod, forgive me. I've just realised that `ter` stands for `tslint-eslint-rules`.

Keep it. Loved it! I'm happy to close the issue when gets merged :D

I've set up in 2 projects already and had some fixes to do!
AWESOME!

[2016-11-16 13:30] #134 closed

[2016-11-16 13:31] #130 closed

[2016-11-16 13:31] #74 closed

[2016-11-16 13:51] buzinas commented on #129
Well, I think that - for now - we can use the `ter` prefix only for the rules that already cause conflicts.

[2016-11-16 13:51] #129 closed

[2016-11-19 16:29] heavenshell opened #137 "Tslint4.0 Change api and exception raised"
When running with Tslint4.0, exception raised.

[code]

See https://github.com/palantir/tslint/pull/1720

https://github.com/buzinas/tslint-eslint-rules/search?utf8=%E2%9C%93&q=tslint%2Flib%2Flint
I think these should be change.

[2016-11-19 22:53] jmlopez-rod commented on #137
I'm working on it but I won't be able to do the update until this is done: https://github.com/panuhorsmalahti/gulp-tslint/issues/90

[2016-11-21 16:50] unional commented on #137
That is done. 🌷

[2016-11-21 17:51] balassy commented on #137
gulp-tslint 7.0.0 is released, which supports tslint 4.x.
Thanks for fixing this @jmlopez-rod.

[2016-11-21 18:50] jmlopez-rod commented on #137
Hi all, v3.0.0 has been released.

[2016-11-21 18:50] #137 closed

[2016-11-22 19:25] balassy commented on #137
Thank you!

[2016-11-24 00:37] emp823 opened #139 "Only arrow functions & prefer-arrow-callback are not the same thing"
I think `only-arrow-functions` and `prefer-arrow-callback` are different things.

The ESLint `prefer-arrow-callback` doesn't turn all functions into arrow functions, just those used as callbacks.

`var foo = function foo(a) { return a; };` would be valid in the ESLint one but invalid in the TSLint one.

[2016-11-24 03:58] jmlopez-rod commented on #139
I think all the rules will vary slightly. The table is there mainly to try to give an option as to what we can use for the eslint rule. The `only-arrow-functions` rule has the option `"allow-declarations"` but I think this would only allow:

[code]

and not what you mentioned.

Haven't tried it yet. Either way, the rule doesn't seem that complicated. I'll see if I can get it done this weekend.

[2016-11-24 22:37] emp823 commented on #139
Cool, thanks for the response.
On Wed, Nov 23, 2016 at 10:58 PM Manuel Lopez <notifications@github.com>
wrote:

[2016-11-28 09:16] Kovensky opened #140 "ter-indent crashes with ASI + semicolon"
Stack trace:

[code]

Excerpt of input code:

[code]

Contents of `this.sourceFile.text.slice(node.pos, node.end)` inside `visitVariableStatement`:

[code]

Contents of `this.sourceFile.text.slice(list.pos, list.end)`:

[code]

It seems that the kind of list is `SyntaxList`, but it only has one child: the `VariableDeclaration`. The path goes something like: `node.kind` = `VariableStatement`, `node

[2016-11-28 09:22] Kovensky opened #141 "ter-indent crashes with jsDoc attached to VariableDeclaration"
Stack trace:

[code]

Source code:

[code]

Deleting the jsDoc fixes the crash.

[2016-11-28 15:30] jmlopez-rod commented on #141
Is there a particular configuration you are using to get this bug? I switch to the master branch but I can't seem to get it. I have a PR ready to address the other bug you submitted but I'd like to get this one in the next release as well. Thanks for the submitting the issues.

[2016-11-28 15:50] Kovensky commented on #141
Hm, not sure; I am using the rule with `[ true, 2, { "SwitchCase": 1 } ]`.

Could this be an AST change introduced by typescript? I am running the nightlies.

[2016-11-28 16:55] jmlopez-rod commented on #141
Ah, I see it now. I installed the latest they have

[code]

This new version of typescript will break several things. I'll try to see if I can make it work for both versions.

[2016-11-29 05:11] #140 closed

[2016-11-29 05:11] #141 closed

[2016-11-29 22:32] fxlemire opened #143 "ter-indent not working properly?"
Using the following configuration:
[code]
I need to format my code as following to avoid the squiggly green lines in VS Code:
[code]
But it should be formatted as following if I'm not mistaken:
[code]
Using versions `"tslint": "^4.0.2", "tslint-eslint-rules": "^3.0.0",`

Also, removing the entire object of configurations does not change anything.

[2016-11-29 22:59] jmlopez-rod commented on #143
Sorry, I haven't done a release yet. The documentation is pointing to the latest code which isn't in npm yet. I'll be doing a release sometime tonight which should fix the issue.

[2016-11-29 23:13] fxlemire commented on #143
Oh okay thanks!

[2016-11-30 00:13] jmlopez-rod commented on #143
@fxlemire I just realized that in a class, a constructor and methods are not FunctionExpressions or declarations (at least in typescript). Does eslint actually handle parameters in them? The call expression option will handle cases like the following:

[code]

But not for parameters in class methods. I've been also wanting to make the rule keep indentation especially for classes. I'll have a look,

[2016-11-30 00:54] fxlemire commented on #143
@jmlopez-rod Awesome. My pleasure, thanks to you for looking into that!

[2016-11-30 05:09] #139 closed

[2016-11-30 05:32] jmlopez-rod commented on #139
@emp823 v3.1.0 has been released, you can use https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/terPreferArrowCallbackRule.md

[2016-11-30 05:34] emp823 commented on #139
awesome, nice work @jmlopez-rod

[2016-11-30 05:40] jmlopez-rod commented on #143
v3.1.0 has been released. You intended example should work now.

[2016-11-30 05:41] #143 closed

[2016-11-30 05:47] jmlopez-rod commented on #141
@Kovensky v3.1.0 has the fixes to this issue and the previous one you reported. Thank you for reporting.

[2016-12-08 23:50] fxlemire opened #146 "False positive on handle-callback-err when not using parentheses"
[code]

Following code displays a `handle-callback-err` inside VS Code, but does not if `err` is wrapped with parentheses.

[code]

rule: `"handle-callback-err": [true, "^(err|error)$"]`

[2016-12-10 08:53] jmlopez-rod commented on #146
I have a fix for the rule (rewrote the logic to find out if we use the parameter) and I have also added the eslint tests. I wanted to see if the original code would pass the missing eslint tests and ...

they do. With the exception of the cases that @fxlemire mentioned. For instance:

[code]

fails but

[code]

is fine.

I think there might be a bug with typescript. It all comes down to this line:

[2016-12-10 16:19] jmlopez-rod commented on #146
Original Solution With Quick Fix:

<img width="1176" alt="screen shot 2016-12-10 at 10 03 23 am" src="https://cloud.githubusercontent.com/assets/1810397/21074500/47f9a156-bec0-11e6-94c6-156b1e9ce6bb.png">

New Solution in which we manually keep track of the function scope instead of using the typescript service to highlight the document for occurrences of the error parameter.

<img width="1087" al

[2016-12-14 04:13] #146 closed

[2016-12-14 07:06] jmlopez-rod commented on #146
[v3.2.0](https://github.com/buzinas/tslint-eslint-rules/releases/tag/v3.2.0) has been released. It includes this fix and arrow rules dealing with their style.

In case anyone is wondering why the build is failing, it is because `debug@2.4.0` was released minutes before our release and a spelling mistake [broke the build](https://travis-ci.org/buzinas/tslint-eslint-rules/jobs/183832576).

https://g

[2016-12-14 19:10] fxlemire opened #153 "handle-callback-err: does not differentiate method from variable"
In the following error handling:

`error => console.error('Could not print the document');`

The error is not thrown because of console.**error**. But it should since the actual error variable is not handled.

relevant tslint config: {"handle-callback-err": [true, "^(err|error)$"]}

tslint: 4.0.2
tslint-eslint-rules: 3.2.0
typescript: 2.1.4
vscode: 1.7.2
vscode-tslint: 0.7.1

[2016-12-14 19:53] jmlopez-rod commented on #153
Ah... I see, I'll do a fix this afternoon. Thanks.

[2016-12-15 05:27] jmlopez-rod commented on #153
@fxlemire Is this valid?

[code]

The [eslint tests](https://github.com/eslint/eslint/blob/master/tests/lib/rules/handle-callback-err.js) say it is, but I want to say that it isn't since `err` could be `null`. The modification I made will flag your error but it would also mark the one I just mentioned. Here are a few tests:

[code]

Notice the last two examples, in the one we use `error.stack` by

[2016-12-15 16:20] fxlemire commented on #153
@jmlopez-rod Interesting point.

My opinion would be that accessing a non-existent property on the error object is not the concern of this specific rule. As long as a user handles the error or one of its properties, it is fine.

I would agree with the eslint tests.

Another approach would be to keep your new interpretation by adding a flag that a user can add in his setting to make it stricter, e.

[2016-12-15 17:42] jmlopez-rod commented on #153
Funny that you mentioned it, I was thinking about the same idea this morning. I think I'll add an object option with the name you suggested, that way it is easier to turn it off and on in the configuration instead of having to remove the string.

[code]

@blakeembrey any thoughts on this?

[2016-12-15 18:23] fxlemire commented on #153
The object is definitely the right approach. I'd make it optional, with `"objectOnly": false` being the default value.

False as the default, because given an error with the following properties: `status, message, time`, if a user handles `error.status` and `error.message`, the warning shouldn't pop up unless he explicitly stated that he wants this to be strict.

Adding on top of this example, if

[2016-12-15 19:17] jmlopez-rod commented on #153
I agree, the default value would be false so that all the current tests may pass. It is also the current behavior with eslint.

I'm not completely sure about the option name. Let's give it a bit more thought. If this option is implemented we should give a more descriptive error as well:

Default error message:

[code]

When on strict usage mode:

[code]

[2016-12-16 14:06] filipsalpe opened #155 "ter-indent breaks when it encounters jsdoc blocks before variable declarations"
Failing test cases here: #154

Output:

[code]

[2016-12-16 19:05] #155 closed

[2016-12-23 07:29] jmlopez-rod commented on #153
@fxlemire I opened a PR with the changes discussed here. Can you look over the tests I added and verify that they are correct? If there is no changes to be made I'll be making a release tomorrow night.

[2016-12-23 14:18] fxlemire commented on #153
@jmlopez-rod added comments on the tests

[2016-12-23 14:36] tarruda commented on #74
@leocaseiro It seems interfaces are not checked, at least not by default. Do you know an option to enable it?

[2016-12-23 16:33] jmlopez-rod commented on #74
@tarruda Seems that I never considered them. Could you open a new issue reporting this?

[2016-12-23 16:40] jmlopez-rod commented on #153
Thanks, both test you mentioned are meant to pass. The test that are expected to have errors define an array of errors. Any comments on the strict error message?

[code]

I also need to document this one change.

[2016-12-23 16:44] fxlemire commented on #153
I think the strict error message is great, very succinct and descriptive! Added one more comment, please have a look.

[2016-12-23 16:45] tarruda opened #158 ""ter-indent" rule does not validate interfaces."

[2016-12-23 16:45] tarruda commented on #74
Done: #158

[2016-12-23 18:51] jmlopez-rod commented on #153
Could you take a look at the doc file: https://github.com/buzinas/tslint-eslint-rules/pull/157/files: src/docs/rules/handleCallbackErrRule.md.

[2016-12-23 22:36] jmlopez-rod opened #160 "[ter-indent] add new options for arrays and objects"
Since the last time I updated the rule there have been new changes, see:

https://github.com/eslint/eslint/compare/0643bfeff68979044ca57a2b392d855d18be7d08...dec3ec6a1d1ded6f931a0b9e31c324e3fea50550

I'll try to get these in with a couple of other rules for next minor release.

[2016-12-24 05:59] #153 closed

[2016-12-24 05:59] #158 closed

[2016-12-24 23:51] blakeembrey commented on #153
@jmlopez-rod Can you revert the release and invert this rule to make it stricter instead of starting strict. The release you did was a breaking change and broke projects like https://github.com/TypeStrong/ts-node/blob/42e5c1996c129688598755aa1286aecbd89872ef/src/_bin.ts#L413.

[2016-12-24 23:54] jmlopez-rod commented on #153
Weird, that should have behave in the same way as the eslint rule. Let me check, just to be clear, we want

[code]

to be ok, with `error` as the only parameter to the rule right?

[2016-12-24 23:56] blakeembrey commented on #153
Yes, it should be passing. I might have misread the situation then, and it's a bug with the latest release in that case. I have a build failing with two instances, see https://travis-ci.org/TypeStrong/ts-node/builds/186493006.

Reference to ESLint because I just took a look: https://github.com/eslint/eslint/blob/f20b9e91b9ddc65418939ac8e242e2ff0dad5f02/lib/rules/handle-callback-err.js#L76

[2016-12-24 23:59] jmlopez-rod commented on #153
Yes, just verified that it breaks with your example, let me come up with a fix.

[2016-12-25 00:17] jmlopez-rod commented on #153
I see why it's breaking, but, it's dinner time so it'll be a while before I can release a fix, sorry for the inconvenience.

[2016-12-26 10:30] jlowcs opened #162 "array-bracker-spacing false positive"
With the following rule:
[code]

And the following code:
[code]

I get the following error:
[code]

Removing the `/* , 51 */` comment removes the error.

[2016-12-28 15:13] jmlopez-rod opened #164 "[use-is-nan] name collision"
There is now a name collision with tslint. In this case, although @buzinas made this rule first the tslint rule takes precedence over the rule provided by this project

from [tslint](https://palantir.github.io/tslint/develop/custom-rules/)

tslint-eslint-rules: https://github.com/buzinas/tslint-eslint-rules/blob/master/src/rules/useIsnanRule.ts

tslint: https://palantir.github.io/tslint/rules/use-

[2017-01-11 00:36] apexskier opened #165 "Package can't be used by an "extended" tslint configuration"
### Scenario and problem

I've got a custom tslint configuration that's intended to be shared among several projects. I want that custom configuration to include this package's rules. Since `tslint`'s custom rules loading always uses a relative/absolute path, specifying `"rulesDirectory": "node_modules/tslint-eslint-rules/dist/rules"` breaks when my custom configuration is inside the node_modules

[2017-01-11 00:38] apexskier commented on #165
This matches what https://github.com/palantir/tslint-react does.

[2017-01-11 03:46] jmlopez-rod commented on #165
Seems like the right move, considering that @JKillian wrote something similar when index.js was created: https://github.com/buzinas/tslint-eslint-rules/commit/aa17d2e83a08a84b8635c9d205d77cf295a66492.

On the issue with a possible custom config, shouldn't we be using this project as a peerDependency? Even airbnb installs a custom configuration for eslint by declaring eslint and other packages as p

[2017-01-11 04:37] blakeembrey commented on #165
1. The change makes sense, would make it easier for people to use and I don't see any downside.
2. Probably makes sense to use `peerDependency` for the rules, but I know it can get messy with pre-releases because TSLint moves their "nightly" releases for TypeScript nightlies on a different schedule. This creates a really PITA approach where their nightly versions probably won't be valid with a pee

[2017-01-11 16:25] apexskier commented on #165
Setting `peerDependency`'s will be useful for ensuring users of this package install a valid version of `typescript`. I haven't experienced the issues @blakeembrey mentioned, but I also haven't worked on prereleases at all.

On the matter of recommending `extends` (as I've done) vs `rulesDirectory` (using tslint-config-standard's method):
I think extends is a much more understandable method, and i

[2017-01-11 19:17] jmlopez-rod commented on #165
@apexskier we do have an opinionated configuration, that's the one we are use on our own source files https://github.com/buzinas/tslint-eslint-rules/blob/master/tslint_eslint_rules.json, we should probably add a comment on `index.js` to make it clear that the configuration needs to remain onopinionated and that it only exists to make it easier to access the rules in the project.

[2017-01-16 18:06] ikokostya opened #168 "no-invalid-this rule exists in tslint"
Tslint has standard rule [no-invalid-this](https://palantir.github.io/tslint/rules/no-invalid-this/), but it's marked as unavailable in table https://github.com/buzinas/tslint-eslint-rules#best-practices.

[2017-01-16 18:10] ikokostya opened #169 "typeof-compare rule in tslint"
Table https://github.com/buzinas/tslint-eslint-rules#possible-errors contains [valid-typeof](https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/validTypeofRule.md) rule. Tslint has similar standard rule [typeof-compare](https://palantir.github.io/tslint/rules/typeof-compare/).

[2017-01-16 18:18] ikokostya opened #170 "Standard tslint arrow-parens rule"
`tslint` has standard [arrow-parens](https://palantir.github.io/tslint/rules/arrow-parens/) rule.

Anyway I like [ter-arrow-parens](https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/terArrowParensRule.md) rule more, because it has similar format with `eslint`.

[2017-01-16 22:45] jmlopez-rod commented on #170
Precisely, I wrote the `ter-arrow-parens` to make it the same (or as close as possible) as the the one in eslint. Either way, I did provide a link to the `arrow-parens` in the docs for the rule.

Is there an issue with `ter-arrow-parens`? Do we need to keep this issue open?

[2017-01-16 22:47] ikokostya commented on #170
Sorry, I missed this link.

No issues. Closing.

[2017-01-16 22:47] #170 closed

[2017-01-17 02:39] ikokostya opened #171 "Support no-unused-vars rule like in eslint"
Rule [no-unused-vars](https://palantir.github.io/tslint/rules/no-unused-variable/) rule was [deprecated](https://github.com/palantir/tslint/issues/1481) in `tslint`.

But recommended `TypeScript` options `--noUnusedParameters` and `--noUnusedLocals` have a lot of limitations:
* Cannot be disabled per line or file: https://github.com/Microsoft/TypeScript/issues/12913
* Doesn't support any configura

[2017-01-17 18:42] jmlopez-rod commented on #171
The `--noUnusedParameters` and `--noUnusedLocals` do work better than a linter in my opinion. It is true that you cannot disable the error like the linter but ... (you can, in a different way)

[code]

This type of function would raise the the error that `a` is being unused. Which is good, now you can remove it before making the function available. In some cases however, you may want to keep the v

[2017-01-17 23:22] ikokostya commented on #171
I known about prefix `_`, but it works only for parameters. Consider situation when tests in project are failed and you need investigate why this happen. Typically during this process you need print some variable or add `debugger` statement, i.e. create temporary variables. In this situation code is syntactically correct, but contains undesirable (for production) constructions.

For this reason I

[2017-01-19 13:47] buzinas commented on #168
Thanks for the issue

[2017-01-19 13:48] buzinas commented on #169
Well, since the names don't collide and there is already a similar rule here, I think we don't have a problem with this.

[2017-01-19 13:48] #169 closed

[2017-01-22 15:54] ikokostya opened #172 "Feature request: add computed-property-spacing rule"
**Versions**
* tslint-eslint-rules: 3.2.3
* tslint: 4.3.1

**Problem**

Config:

[code]

Code
[code]

**Expected behavior**

Get error about extra space:

[code]

**Actual behavior**

No errors.

[2017-01-30 23:50] blakeembrey commented on #160
@jmlopez-rod Is this related to the issues I'm seeing in `ter-indent` when using it like:

[code]

[2017-01-31 00:44] jmlopez-rod commented on #160
@blakeembrey What's the configuration and errors you are using with the code? It could be, I'm gonna say the rule is complaining on `{ returnChanges: 'always' }` parameter?

[2017-01-31 01:03] blakeembrey commented on #160
Yes, sorry - it is. The rule is https://github.com/blakeembrey/tslint-config-standard/blob/6d0d2f5a968e36f7b763188d32f1b019cee85c52/tslint.js#L63-L69.

[2017-02-04 09:42] #165 closed

[2017-02-04 10:29] galkinrost opened #177 "Empty index.js in the npm repository"
After I've installed the module via npm I found that index.js is empty, so I can't extend my tslint.json with new rules.

[2017-02-04 10:54] jmlopez-rod commented on #177
I hadn't released yet. Could you try again? The latest release is 3.3.0

[2017-02-04 11:00] galkinrost commented on #177
Yes, all right now

[2017-02-04 11:00] #177 closed

[2017-02-04 14:45] Luanre opened #178 "Crash on incorrect JSDoc @return"
version 3.3.0
If the code has invalid `@return` syntax like this:

[code]

it will cause an exception:

[code]

It would be nice to have warning that JSDoc has incorrect format.

[2017-02-04 16:50] jmlopez-rod commented on #178
Thanks, just confirmed it is also present in version `3.0.0` (the one). This is the bad guy:

[code]

[2017-02-04 16:57] jmlopez-rod commented on #172
Could be related: https://github.com/buzinas/tslint-eslint-rules/issues/162

Currently working on making these test pass: https://github.com/eslint/eslint/blob/master/tests/lib/rules/array-bracket-spacing.js

[2017-02-04 18:21] jmlopez-rod opened #179 "[chore] remove tslint as a dependency"
This is already in peerDependencies. Instead, lets move it to `devDependencies`: https://github.com/buzinas/tslint-eslint-rules/pull/166#issuecomment-277460992

[2017-02-09 08:14] jmlopez-rod commented on #172
Turns out the array-bracket-spacing rule does not handle it, because in your example, that is not an array. For that eslint has the [computed-property-spacing](http://eslint.org/docs/rules/computed-property-spacing) rule which is not yet available in the project. I'll keep this open so that I may start working on the rule.

[2017-02-16 21:07] #162 closed

[2017-02-16 21:07] #179 closed

[2017-02-16 23:11] #168 closed

[2017-02-16 23:32] jmlopez-rod opened #184 "tsconfig updates"
Let us take advantage of several typescript compiler options to avoid errors:

https://www.typescriptlang.org/docs/handbook/compiler-options.html

One in particular is

- strictNullChecks

which would help us prevent issues such as #178 which was caused by trying to access a property on a null object.

[2017-02-23 02:15] arloduff opened #185 "Support fix option for ter-indent"
Is it possible to support the automatically fixing files for the `ter-indent` rule? Right now, my experience is that tslint is complaining about files that have the wrong number of spaces, but I would like for it to automatically fix the files that have the incorrect number of spaces.

I'm using gulp  together with tslint and tslint-eslint-rules.

### Versions:
gulp-tslint: 7.1.0
tslint: 4.4.2
tsl

[2017-02-23 02:18] jmlopez-rod commented on #185
Currently the ter-indent rule does not have a fixer. Only a few of the rules have it implemented. I'll try to add it on the next update to the rule.

[2017-02-23 02:22] arloduff commented on #185
Thanks!

[2017-02-28 16:50] jlowcs opened #186 "this.createFix is not a function (5.4.0)"
I'm getting this error with version 3.4.0:

[code]

Seems like it's linked to missing spaces in curly braces:

[code]

The following fixed the exception:
[code]

[2017-02-28 16:52] jlowcs commented on #186
Here are my rules:
[code]

[2017-02-28 20:53] ikokostya opened #187 "[ter-prefer-arrow-callback] false positive for named function expression"
**Versions**

[code]

**Code example**

[code]

**Actual behavior**

[code]

**Expected behavior**

No errors, because `bar` is **named** function expression.

[2017-02-28 20:57] ikokostya commented on #187
Oh, my bad. Default value of `allowNamedFunctions` option for this rule is `false` by default https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/terPreferArrowCallbackRule.md

[2017-02-28 20:57] #187 closed

[2017-03-01 21:25] jmlopez-rod commented on #186
What tslint version are you using?

[2017-03-02 12:57] mennya opened #188 "double no-empty rule"
There is no-empty rule in Possible Errors and in Best Practices

[2017-03-02 13:05] buzinas commented on #188
That's because `no-empty` in TSLint is used for any kind of blocks, while in ESLint there are two different rules to check if a block is empty (one for statements and one for functions).

[2017-03-02 13:05] #188 closed

[2017-03-03 14:19] jlowcs commented on #186
tslint 4.2.0

Just tested with a newer version, and it works.

[2017-03-04 16:35] jmlopez-rod commented on #186
Guess it's time to update the peer dependency so that it warns us of this issue.

[2017-03-08 23:37] MeltingMosaic opened #189 "TSLint's ordered-imports does not work like ESLint's sort imports"
TSLint's [ordered-imports](https://palantir.github.io/tslint/rules/ordered-imports/) doesn't work at all like ESLint's [sort-imports](http://eslint.org/docs/rules/sort-imports) rule.

I propose that a new rule be written that works more like ESLint's with respect to the ordering of import types (single, multiple, all, none).

I have written a rule that detects the issues correctly but does not pro

[2017-03-08 23:51] MeltingMosaic commented on #189
#190 Added PR (Sorry if this isn't the right way to do this - I'm a noob).

[2017-03-09 02:20] battmanz opened #191 "valid-jsdoc: New option to make parameter types optional."
In TypeScript, specifying the parameter types in the documentation is really not that helpful. In fact, it's redundant. You can easily see the parameter types by looking at the code. By way of comparison, in Javadoc you don't put any type information in the documentation either, because it's part of the language.

I'm proposing a new option `requireParamType` that if set to false, will not require

[2017-03-10 18:04] jmlopez-rod commented on #191
This makes sense. I'll try to include it with the fix for this: https://github.com/buzinas/tslint-eslint-rules/issues/178

[2017-03-10 18:08] jmlopez-rod commented on #189
Thanks for the PR. I did a quick review to point you in the right direction on how to format the PR. As far as the fixer goes I would look at the eslint fixer to try to come up with it. I'll try to help you on this one once everything else is taken care of. Thanks again for joining on the fun.

[2017-03-11 16:33] jmlopez-rod commented on #186
Turns out the `createFix` method was introduced here: https://github.com/palantir/tslint/commit/e933f7d85b120041b64c5ce7edcfbbdf80e57926 which is only available starting tslint 4.3.0.

[2017-03-11 16:43] jmlopez-rod commented on #186
On the next release npm should warn users that `tslint-eslint-rules` requires tslint to be at least 4.3.0.

[2017-03-11 16:43] #186 closed

[2017-03-13 22:10] #189 closed

[2017-03-16 12:51] basickarl opened #197 "Question: How to indent with 2 tabs"
Does not work:
[code]
Does not work:
[code]

I'd like to decide that indenting is done via tabs and I'd like to decide how many tabs. The documentation does not state if this is possible.

[2017-03-16 12:53] buzinas commented on #197
Not possible. You decide between tabs (1 only), or spaces (and specify the number of spaces you want).

[2017-03-16 13:44] basickarl commented on #197
@buzinas Alright thanks!

[2017-03-16 13:44] #197 closed

[2017-03-16 17:27] jmlopez-rod commented on #197
@basickarl the examples you gave point to the rule provided by tslint. To use the one provided by this project you need to use `"ter-indent"`, see https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/terIndentRule.md

[2017-03-16 20:13] #178 closed

[2017-03-16 20:13] #191 closed

[2017-03-16 20:13] #185 closed

[2017-03-16 22:03] battmanz commented on #191
Thank you!

[2017-03-17 01:28] buzinas commented on #164
I think it's time to rename all our rules to `ter-*` and bump the major version.

What do you think, @jmlopez-rod?

[2017-03-17 05:40] jmlopez-rod commented on #164
I agree, I'm working towards closing all issues hopefully before the release of tslint 5.0. I think it would be good to bump the major version at the same time as tslint.

[2017-03-17 11:29] chrismbarr commented on #164
Does the `useIsNan` rule in this repo behave differently than the one distributed by TSlint?  Is there some advantage to enabling 2 rules to check the same thing?

[2017-03-17 13:49] jmlopez-rod commented on #164
In this case the rule may be so simple that we could deprecated it from this project, the point however, is that we may have some collision later on, as we already saw with indent which behaves very different from the one in eslint. Also the prefix is so that we can easily identify the rule as being part of this project and avoid unnecessary confusion. But you have a valid question, should we depr

[2017-03-17 15:44] chrismbarr opened #198 "Deprecate unnecessary rules"
Based on discussion in #164, there seem to be several rules in this project that duplicate existing functionality.

* [`use-is-nan`](https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/useIsnanRule.md) ➡️ now covered by the [TSLint rule `use-is-nan`](https://palantir.github.io/tslint/rules/use-isnan/), but the [docs currently state this](https://github.com/buzinas/tslint-esli

[2017-03-17 17:46] mmkal opened #199 "Feature request: expose rules map in npm package"
The way I'd like to use this is to upgrade a repo from JavaScript/eslint to TypeScript/tslint, but keeping as many as possible of my company's highly-customized eslint settings as possible. I was hoping to do this using the rules map in [src/readme/rules.ts](https://github.com/buzinas/tslint-eslint-rules/blob/master/src/readme/rules.ts), but that's not exposed in the npm package, so for now I am j

[2017-03-17 21:01] MeltingMosaic opened #201 "[sort-imports] Single imports that are substrings of other single imports are being flagged"
I found a bug where imports that are substrings of other imports are being incorrectly flagged. E.g.:
[code]

I have submitted a PR #200 to fix this.

[2017-03-18 03:28] jmlopez-rod commented on #199
So it seems that you want something like #181.

[2017-03-18 03:49] jmlopez-rod commented on #198
for the `use-is-nan` rule I changed the docs since tslint won't let us use the one provided here and I did not want to delete the rule just yet. It didn't make sense to let users believe that they were using the rule from this project.

`valid-typeof` is probably also safe to deprecate.

I would keep `no-extra-semi` since the implementation is more simple that the one provided by tslint.

https://

[2017-03-18 03:51] #201 closed

[2017-03-21 02:26] whitetrefoil opened #202 "Is "ImportDeclaration" exception in "no-multi-spaces" missing?"
https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/noMultiSpacesRule.md says:

Will "ImportDeclaration" be supported soon? 😺

[2017-03-30 10:00] bastienmoulia opened #204 "TSlint v5 remove createFix function"
Got the message `Warning: this.createFix is not a function` when updating tslint to 5.0.0

It's because the `createFix` function no longer exist, see https://github.com/palantir/tslint/pull/2403.

[2017-03-31 13:57] guidojo opened #205 "Eslint `curly` rule is not properly supported in tslint"
Tslint doesn't support the curly rule as eslint does. Tslint only has the options `true` or `false`.

Tslint: https://palantir.github.io/tslint/rules/curly/
Eslint: http://eslint.org/docs/rules/curly

Can you please create an alias for the eslint version, so I can use options like `multi-line`? :-)

[2017-04-03 12:26] mdurling opened #206 "Update TSLint Peer Dependency"
The current peer dependency causes `npm shrinkwrap` to fail when using [TSLint v5.0.0](https://github.com/palantir/tslint/releases/tag/5.0.0)
[code]
The new version of TSLint works fine, but `npm shrinkwrap` fails saying a peer dependency is unmet. Perhaps the semver of `>=4.5.0` or something similar would be appropriate.

Please update.

[2017-04-03 13:41] buzinas commented on #206
Thanks for opening the issue. Please, feel free to open a PR for that and I'll be glad to merge it and release a new version :)

[2017-04-03 14:18] mdurling commented on #206
https://github.com/buzinas/tslint-eslint-rules/pull/207

[2017-04-03 19:13] mattnedrich opened #209 "`ter-indent` does not work for Typescript `.tsx` files"
The `ter-indent` indentation rules do not seem to work for my the `jsx` code in my `.tsx` files. Has anyone else run into this issue?

[2017-04-03 21:15] jmlopez-rod commented on #209
Can you give a simple example where this is failing? The code is trying to emulate the eslint rule and I think they cover support for jsx code. At the moment, the rule is a bit behind and it is in need of being updated.

[2017-04-04 13:29] mattnedrich commented on #209
It seems to be failing for something simple like this:

[code]

Assuming `ter-indent` is set for 2 space indentation, it will flag the `const extraIndentVar` as being indented too much, but not the `<ExtraIndentComponent />`.

[2017-04-05 04:26] jmlopez-rod commented on #204
[v4.0.0](https://github.com/buzinas/tslint-eslint-rules/releases/tag/v4.0.0) has been released. Let me know if there are any issues.

[2017-04-05 04:26] #204 closed

[2017-04-05 04:28] jmlopez-rod commented on #206
[v4.0.0](https://github.com/buzinas/tslint-eslint-rules/releases/tag/v4.0.0) has been released.

[2017-04-06 13:10] chrismbarr commented on #198
So, TSlint 5 has been released, and this project has released version 4.  Both major version number updates and the `use-isnan` rule is **still being distributed**, yet it's still not usable since the rule in base tslint will always override this.  Is there a reason to keep distributing duplicate code that can never be consumed?

[2017-04-09 07:16] WiseBird commented on #198
Also [no-sparse-arrays](http://eslint.org/docs/rules/no-sparse-arrays) is natively [supported](https://palantir.github.io/tslint/rules/no-sparse-arrays/) by TSlint 5.

[2017-04-12 11:39] adambowles opened #213 "Rule padded-blocks"
Request for support for this rule: http://eslint.org/docs/rules/padded-blocks

[2017-04-24 20:18] ikokostya commented on #171
`no-unused-vars` was undeprecated in `tslint`. So, this issue can be closed.

[2017-04-25 13:34] donaldpipowitch opened #214 "add empty "index.js" to "rules/" directory"
Given https://github.com/palantir/tslint/issues/2163 it would be nice, if the `rules/` directory would contain an empty `index.js`. Then we could resolve the rules directory with Nodes module resolution which makes it easy to use custom rules in certain situations (symlinked configs, flat vs. non-flat installations...).

[2017-04-25 15:38] blakeembrey commented on #214
@donaldpipowitch Why not just use the `extends` feature as recommended in your PR (https://github.com/palantir/tslint/issues/2163#issuecomment-293416322)?

[2017-04-25 16:47] jmlopez-rod commented on #171
Time to update the docs stating that it is available on tslint. I'll reopen to have it as a reminder.

[2017-04-25 19:40] donaldpipowitch commented on #214
Because if my comment below 😄  https://github.com/palantir/tslint/issues/2163#issuecomment-293466893

AFAIK `extends` gives me _all rules_ with _all default_ values. I'd like to "opt-in" to rules instead of "opt-out" from rules. If new rules are added with new versions I don't know, if I want this rule.

[2017-04-25 19:43] ajafff commented on #214
the config provided by `tslint-eslint-rules` contains only the `rulesDirectory` and no rules. It's made exactly for your use case

[2017-04-25 19:48] blakeembrey commented on #214
@donaldpipowitch Fair enough. The original comment didn't make any sense when I read it. The main concern I have (apart from having to add empty files around the place to make people happy) is that this could have adverse affects tying the directory structure to the module. Is there maybe a better way this feature could be implemented in TSLint to avoid that? For instance, could it do regular reso

[2017-04-25 19:50] blakeembrey commented on #214
Another note, shouldn't the directory already be resolving because you added `dir-resolve` as a dependency there?

[2017-04-25 19:54] donaldpipowitch commented on #214
@ajafff

Sorry, I'm confused. When I `extends: [ "tslint-eslint-rules" ]` what configs do I get? Isn't it [this file](https://github.com/buzinas/tslint-eslint-rules/blob/master/tslint.json)?

@blakeembrey

The reviewers recommended to remove `dir-resolve` later. See here https://github.com/palantir/tslint/pull/2358#issuecomment-289023170. Sorry, I'll update the first post in the PR.

I'd prefer to

[2017-04-25 20:01] ajafff commented on #214
@donaldpipowitch you get this file: https://github.com/buzinas/tslint-eslint-rules/blob/master/index.js because of this line: https://github.com/buzinas/tslint-eslint-rules/blob/master/package.json#L5

Instead of adding an empty index.js, it could be moved to `dist/rules/index.js` (or any other basename) and let `main` in package.json point to that file instead. With that setup you can either `"ex

[2017-04-25 20:05] donaldpipowitch commented on #214
@ajafff Thank you for the clarification. So currently I _could_ use `extends: [ "tslint-eslint-rules" ]` with my desired behaviour, but this _could_ change in the future (if default settings are added) and it is specific to `tslint-eslint-rules` (because other packages like `tslint-react`_do_ set default rules, right? [here](https://github.com/palantir/tslint-react/blob/master/package.json#L5) and

[2017-04-25 20:34] buzinas commented on #214
The goal of this project is to make it possible to people who use
TypeScript to easily migrate an ESLint configuration to TSLint. We're not
opinionated about what rules you should use, and never will.

We only created the "extends" option because people thought it was simpler
to use than rulesDirectory, but we will never add any configuration by
default.

[2017-04-25 20:38] blakeembrey commented on #214
@ajafff That might be a reasonable way to make use of both features in one go, nice! 😄

Would it make sense to make a request to TSLint to make it possible to extend with only `rulesDirectory` instead of inheriting config?

We'd need to document the directory also in the README, I don't think it's enough just to add an empty `index.js` - probably deserves a README section _and_ a comment in the fi

[2017-04-26 06:16] donaldpipowitch commented on #214
Small feedback to the `README.md`: I actually thought that I'd get all rules wich are marked as `(recommended)` in the description with `extends`.

[2017-04-27 11:22] egel opened #215 "Rule no-tabs"
Request for support for this rule: http://eslint.org/docs/rules/no-tabs

[2017-05-04 11:36] roman-petrov commented on #198
Also, [no-irregular-whitespace](https://github.com/palantir/tslint/pull/2487) is introduced and natively supported by [TSLint 5.2.0](https://github.com/palantir/tslint/blob/master/CHANGELOG.md#v520)

[2017-05-06 06:45] #171 closed

[2017-05-07 20:01] #206 closed

[2017-05-08 11:48] CSchulz opened #219 "Indent level for fat arrow functions"
Consider following code

[code]

tslint.json:
[code]

I am expecting the code indent to be correct, because the inject is the next hierarchy level and it is part of the previous function call.

[2017-05-08 12:35] buzinas commented on #219
The indentation must follow the new (arrow) function declaration rule, so the warning is correct.

By the way, there are other problems of indentation in this code, since `it` should be only 2 spaces indented, and it's 4.

[2017-05-08 12:35] #219 closed

[2017-05-08 12:36] buzinas commented on #215
It should be very simple to write this rule, so if you wanna contribute with it, feel free :)

[2017-05-08 12:47] CSchulz commented on #219
There was the second describe missing, I have added it.

So there is no chance to use the ident like in the code above?

[2017-05-08 12:59] buzinas commented on #219
I don't think so - have you tried that code in ESLint to see if it accepts it?

[2017-05-12 03:23] reduckted opened #220 "valid-jsdoc locations do not take into account leading whitespace"
`tslint`: 5.2.0
`tsc`: 2.3.2
`tslint-eslint-rules`: 4.0.0

The location of the `valid-jsdoc` errors do not take into account the whitespace between the previous node and the start of the JSDoc comment section. This is best explained in a picture (taken from VS Code):

Here's a function that an error is detected for (it's missing the "returns" comment).
![image](https://cloud.githubusercontent.com/

[2017-05-15 16:41] #220 closed

[2017-05-17 19:29] dylanfoster opened #222 "object-curly-spacing doesn't support objectsInObjects"
as stated in the [eslint rule](http://eslint.org/docs/rules/object-curly-spacing)

[2017-05-17 19:48] buzinas commented on #222
It was probably added after we wrote ours. Thanks for the issue!

[2017-05-17 19:50] dylanfoster commented on #222
fwiw @buzinas it's not accepting either `objectsInObjects` or `arraysInObjects`

[2017-05-20 20:03] jogit82 opened #224 "tslint.json rules require Array type[true], [false] instead of true, false"
I am not sure if this is considered an issue. But I will go ahead and make a pull request after fixing this.
$ tslint Version 5.2.0
$ tsc Version 2.3.2

This is an "issue" in tslint.json file. I downloaded the tslint.json file from this repo.  I am using vscode which does not like it (green squiggly line) when **"no-consecutive-blank-lines": true**, when I hovered over, tooltip: "Incorrect type: e

[2017-05-21 01:49] jmlopez-rod commented on #224
I guess your IDE checks the json file and it expects the parameters to be in an array. Does this happen with any of the rules provided by the project? The rule still works as is but I don't see any harm in declaring them as array: https://palantir.github.io/tslint/rules/no-consecutive-blank-lines/

[2017-05-21 11:41] jmlopez-rod commented on #184
#218 addresses this issue.

[2017-05-21 11:41] #184 closed

[2017-05-21 11:48] jmlopez-rod commented on #224
#223

[2017-05-21 11:48] #224 closed

[2017-05-22 03:41] jmlopez-rod commented on #164
The `useIsNan` rule has been removed in `v4.1.0`. I'm keeping this issue open till i rename the remaining rules to have the `ter` prefix.

[2017-05-22 09:16] RecuencoJones opened #227 "TypeScript abstract method return JSDoc"
### Bug Report

- __TSLint version__: 5.2.0
- __TypeScript version__: 2.2.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior

Clean output

[2017-05-22 15:45] RecuencoJones commented on #227
Could be fixed by something like the following:

__src/rules/validJsdocRule.js:335__
[code]

[2017-05-22 15:48] jmlopez-rod commented on #227
I like your solution. Could you submit a PR?

[2017-05-22 15:52] RecuencoJones commented on #227
Sure @jmlopez-rod, I'm a little bit busy rn, will try to create it ASAP

[2017-05-22 22:54] mad-gooze opened #229 "Recommended preset"
Does this packages have a preset with recommended rules like `tslint:recommended`?

[2017-05-25 22:26] mikeumus opened #230 "Invalid "extends" configuration value"
[code]

[2017-05-25 23:03] buzinas commented on #230
It seems that you don't have `tslint-eslint-rules` installed in your project.

[2017-05-25 23:24] buzinas commented on #229
Not at the moment

[2017-05-26 07:47] Vinnl opened #231 "Heads-up: t-e-r 4.1.0 broke semver"
If you explicitly choose not to do semantic versioning, then there's no problem I guess, but if your goal is to adhere to it, it might be good to know that 4.1.0 broke it. Since it renamed two configuration rules, projects that expected those rules to still be checked in the same way will no longer have that assumption remain valid unless they modify their `tslint.json`, thus making it a breaking

[2017-05-26 15:19] #227 closed

[2017-05-26 15:32] jmlopez-rod commented on #231
Yes, this was intentional since v4 was done so that it could support tslint 5. The initial goal was to rename all the rules to have the `ter` prefix since tslint is adding more rules with the name of rules we currently have.

The contributing docs have now been updated to state that all rules in this project need to have the `ter` prefix. Have you found some rule replaced by tslint that breaks the

[2017-05-26 15:43] Vinnl commented on #231
Not actively, I just read the release notes and renamed my t-e-r rules as specified. It's just that if the behaviour of TSLint's rules was different, then things would've behaved differently if I hadn't done anything, which would mean it was a breaking change.

[2017-05-27 17:30] #230 closed

[2017-05-30 15:24] cakeinpanic opened #232 "--fix fails"
I'm trying to autofix rule
http://eslint.org/docs/rules/object-curly-spacing, here is its options in `tslint.json`
`"object-curly-spacing": [true, "never"],`

[code]
when i run `tslin --fix`, i got
[code]

just linting without `--fix` flag works ok too

If i remove that rule from `tslint.json`, everything lints and fixes great

[2017-05-31 21:03] jmlopez-rod commented on #232
You'll need to update to tslint 5. The current state of this project (version 4) was updated to work with tslint 5. Let me know if updating still crashes the process. If so then please provide some sample code.

[2017-06-02 15:39] FDiskas opened #233 "valid-jsdoc - New option checkparamexistence"
For typescript valid-jsdoc is used almost for http://typedoc.org

So it would be nice to have an option to turn of param checking completely like id done here http://jscs.info/rule/jsDoc#checkparamexistence

Thanks

[2017-06-03 09:58] reduckted opened #234 "False positives using valid-jsdoc and never return type"
|Package|Version|
|-------|-------|
|`tslint`| 5.4.2|
|`tsc`| 2.3.4|
|`tslint-eslint-rules`| 4.1.1|

### tslint.json

[code]

### Code

[code]

### Actual Behaviour

The error `ERROR: index.ts[1, 1]: missing JSDoc @returns for function` is produced on the `test` function.

### Expected Behaviour

No errors are produced.

### More information

If I have a `void` function that returns the "result" o

[2017-06-03 10:05] reduckted commented on #234
If the function declares a return type of `void`, the typescript compiler will produce errors if you try to return anything other than `undefined`, `void` or `never`. So instead of looking for `return` statements as an indication that the function returns something, maybe we could check the declared return type of the function. If it doesn't have a declared type, then we could look for `return` st

[2017-06-10 16:26] maciejmatu opened #235 "object-curly-spacing throws error with tslint@4.4.2"
[code]

Current Lint.Replacement method usage from [tslint documentation](https://palantir.github.io/tslint/develop/custom-rules/):
`const replacement = new Lint.Replacement(node.getStart(), node.getWidth(), "");`

[2017-06-16 22:14] domoritz opened #236 "import additional rules"
Is there a way to import additional rules? For example https://github.com/benmosher/eslint-plugin-import.

[2017-06-22 09:00] bricka commented on #172
I've just put up a PR to implement this rule: #237

[2017-06-22 16:27] lukecwilliams commented on #229
This would be a nice add for our team - we want to do another pass at improving our linting but activating each rule individually is a bit time-consuming.

[2017-06-22 16:31] jmlopez-rod commented on #229
This has been discussed before, since a preset is opinionated this would cause many issues being open arguing about how to best set the configuration. I think this type of configurations should be left to another project, take https://github.com/blakeembrey/tslint-config-standard for instance.

[2017-06-22 17:36] lukecwilliams commented on #229
@jmlopez-rod Thanks for the thoughts - we'll look over that repo!

[2017-06-22 20:06] buzinas commented on #229
Closing since we don't plan to have this.

[2017-06-22 20:06] #229 closed

[2017-06-22 20:08] buzinas commented on #233
I know that this rule should probably be different for TypeScript, but since this project aims to mirror the ESLint rules, it wouldn't make sense to change its configuration for that.

[2017-06-22 20:08] #233 closed

[2017-06-22 20:13] buzinas commented on #235
Since v4.0.0 ([see CHANGELOG](https://github.com/buzinas/tslint-eslint-rules/blob/master/CHANGELOG.md)), this project is compatible with TSLint 5.x only.

You have two options: upgrade TSLint, or downgrade TSLint ESLint Rules to 3.5.1.

[2017-06-22 20:13] #235 closed

[2017-06-22 20:14] buzinas commented on #236
I'm not aware of this plugin, can you elaborate, please?

[2017-06-23 06:29] domoritz commented on #236
https://github.com/benmosher/eslint-plugin-import is a plugin that adds some additional rules to eslint. I would like to use some rules from there in my typescript project with tslint.

[2017-06-23 10:24] Merott opened #238 "Warning: Cannot read property 'name' of null - caused by valid-jsdoc rule"
- `tslint 5.4.3`
- `tslint-eslint-rules 4.1.1`

TSlint config:

[code]

Code:

[code]

Getting this warning:

[code]

[2017-06-23 17:02] buzinas commented on #236
In fact, since our rules are rewrites of ESLint rules to work with the TSLint AST, you can't use ESLint rules at all. The goal of this project is exactly provide some of the rules that exist on ESLint repository that TSLint doesn't have an equivalent.

[2017-06-23 17:29] domoritz commented on #236
That makes sense. The only rule I actually want is https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/newline-after-import.md.

[2017-06-23 17:46] #238 closed

[2017-06-23 17:50] #231 closed

[2017-06-23 17:51] buzinas commented on #232
Closing this since there was no follow up.

[2017-06-23 17:51] #232 closed

[2017-06-23 17:53] buzinas commented on #236
That's [probably a very simple rule to write](https://github.com/benmosher/eslint-plugin-import/blob/master/src/rules/newline-after-import.js).

If you are willing to, you can get my project as a base and create this custom rule.

[2017-06-23 17:58] jmlopez-rod commented on #236
See https://github.com/buzinas/tslint-eslint-rules/blob/master/CONTRIBUTING.md for more info on how to start writing the rule if you are willing to.

[2017-06-23 22:12] buzinas commented on #236
Closing for now, will re-open in the case you decide to build it.

[2017-06-23 22:12] #236 closed

[2017-06-27 23:16] jmlopez-rod opened #242 "Updating travis node/npm versions"
It seems that we are always running into failing builds each time typescript or tslint updates. Can we get travis to use npm 5 so that we can use the `package-lock.json` file? In this way everyone will have the same versions of the packages and only have to update to the latest version of the packages when someone reports it on an issue instead of an unsuspecting first time contributor who gets fa

[2017-06-29 16:11] FDiskas commented on #233
To bad. This is the main issue for us. We are forced to remove that from our project

[2017-07-07 16:56] viggyfresh opened #243 "[ter-max-len] issues with long template strings + interpolation"
TSLint Version: 5.4.3
TSC Version: 2.3.4

Relevant part of `tslint.json`:
[code]

Code being linted:
[code]

Expected behavior: with `ignoreTemplateLiterals` set to true, this shouldn't be a linting error (if I'm reading the rule correctly on the docs and on the eslint docs).

Actual behavior: this is a linting error, with or without the `: string` type annotation. This appears to only be an issue

[2017-07-11 12:27] ethanova opened #244 "Give ter-indent a tab or two spaces, and it demands more (inside class/interface)"
Here's the code:
[code]

Inside es6 classes and interfaces, ter-indent/tslint refuse to indent correctly. Every child line inside the class gives the error `[tslint] Expected indentation of 4 spaces but found 2. (ter-indent)
` and if I concede and give it another 2 spaces it says `[tslint] Expected indentation of 6 spaces but found 4. (ter-indent)` Gives the same issue with tabs.

It seems to be c

[2017-07-12 16:26] bjspencer commented on #244
I've gotten this as well, but for me this is only occurring when running tslint within vscode using the tslint-language-service, and not when I use the regular vscode-tslint extension.

[2017-07-14 15:11] ethanova commented on #244
So upon further investigation it seems to be this line `this.checkNodesIndent(nodesToCheck, indent + indentSize);` inside `blockIndentationCheck` of terIndentRule.js causing the problem. The code treats it as a block and so the nodes inside interface get passed to checkNotesIndent but with a needed indent of 4, which is incorrect. Removing `indentSize` breaks all indentation errors and allows anyt

[2017-07-14 17:24] jmlopez-rod commented on #244
@ethanova , Try running the tests and see if your change breaks anything.

[2017-07-14 18:16] ethanova commented on #244
@jmlopez-rod when I run `npm test` right after pulling down master and npm installing I get this error:
[code]

[2017-07-14 18:23] ethanova commented on #244
After fiixing that error and running the tests, they all work. But after making my change, tests fail as shown in the attached.
[postIndentChangeTests2.txt](https://github.com/buzinas/tslint-eslint-rules/files/1149353/postIndentChangeTests2.txt)

[2017-07-20 21:16] sanex3339 commented on #238
When i can expect release with this fix?

[2017-07-26 20:30] dustinblackman opened #246 "Rules not supported by TSLint"

[2017-07-26 20:39] dustinblackman commented on #246
My mistake, closing.

[2017-07-26 20:39] #246 closed

[2017-07-27 05:29] ScionOfBytes opened #247 "Expected indentation of "NaN" spaces but found 0."
Redirected from: https://github.com/palantir/tslint/issues/3077

### Bug Report

- __TSLint version__: 5.5.0
- __TypeScript version__: 2.4.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

On the last line of the file I'm getting `Expected indentation of "NaN" spaces but found 0.`

#### Expected behavior

Th

[2017-07-31 00:16] ciekawy opened #248 "question: use existing set of eslint's from other modules"
in a first TS project within existing custom multi-module JS environment I'd like to reuse existing modules and it's eslint's rules. Usual JS generated project would use sth like
[code]

As this is experimental TS project I'd like to reuse as much as possible from above eslint rules without manually converting them. I've started with the approach:
[code]

Lot of the rules are just not supported an

[2017-08-01 14:13] cfmano opened #249 "Bad reference to tslint rule 'no-unused-new'"
TSLint removed rule `no-unused-new` and all its functionality was included into the `no-unused-expression`  rule ( palantir/tslint#2269 ). Table should be updated.

[2017-08-14 04:03] buzinas commented on #248
As far as my knowledge goes, I don't think that's possible :(

[2017-08-20 15:14] Glavin001 opened #250 "Running `npm test` is failing"
I am seeing the following error:

[code]

Looks like Travis CI is also failing the latest build (from 1 month ago!): https://travis-ci.org/buzinas/tslint-eslint-rules/jobs/255376223
However `master` branch was only built 2 months ago: https://travis-ci.org/buzinas/tslint-eslint-rules/builds/247759090

Any advice? I would love to contribute! I am currently using my own repository found at https://g

[2017-08-21 17:51] jmlopez-rod commented on #250
Thanks for reporting. I have cleaned up with issue on the master branch and I have also committed the package-lock file for npm > 5.0 users.

[2017-08-21 17:51] #250 closed

[2017-08-25 01:25] Kovensky commented on #244
I hit this earlier today when I tried to `extend` a config file from a different folder that would hit a different `node_modules` folder (bad idea, I know; "temporary" hack).

This hints that the problem might be caused by `ter-indent` loading a different version of `typescript` than the version of `typescript` being used by `tslint` (or, in vscode's case, the builtin `typescript`). Try setting th

[2017-08-25 17:06] ethanova commented on #244
hey @Kovensky thanks for the suggestion. I tried setting `"typescript.tsdk": "node_modules/typescript/lib"` in my settings.json at the project root, installing typescript there, and restarting which didn't make the error go away.

[2017-08-25 20:25] jmlopez-rod commented on #244
@ethanova Check in `node_modules/tslint` to see if you see the subfolder `node_modules/typescript`. I have come across cases in which some of dependencies (typedoc for instance) depends on very specific version of typescript and it gets quite hard to figure out what version of typescript a dependency is using.

[2017-08-29 16:39] ethanova commented on #244
![image](https://user-images.githubusercontent.com/1507541/29832625-7128e0a2-8cae-11e7-933b-88b5e3b3ec52.png)
I don't see that unfortunately. I noticed yesterday when I was working with my PATH variable that apparently some version of Visual Studio installed Typescript 1.0 and put that on my PATH. It could be that's what is causing it? I don't have time at the moment to go and delete it from my PA

[2017-09-09 20:26] trivikr opened #251 "About writing new TSLint rules"
Hi,

First of all, thank you for creating and maintaining tslint-eslint-rules!
Some of our projects use TSLint, and we would like to write new TSLint rules mentioned in [Best Practices](https://github.com/buzinas/tslint-eslint-rules#best-practices) as part of a Hackathon.

Questions:
- Is there a prioritized list of which ESLint rules are important ones to have the TSLint counterparts?
- If anyone

[2017-09-10 04:20] trivikr commented on #172
I noticed that PR #237 is merged.
The [README.md](https://github.com/buzinas/tslint-eslint-rules#stylistic-issues) needs to be updated mentioning ter-computed-property-spacing is now available for use. Also, this issue can be closed.

[2017-09-12 10:18] Patrik-Lundqvist opened #252 "[space-in-parens] doesn't handle comments"
```tslint: 5.7.0```
```typescript: 2.5.2```

**tslint.json:**
[code]

**Code:**
[code]

**Actual behavior:**
[code]

**Expected  behavior:**
Should not throw an error

See:
[eslint demo](https://eslint.org/demo/#eyJ0ZXh0IjoiY29uc3QgZm9vID0gKCkgPT4ge307XHJcbmZvbygvKiB0ZXN0ICovICdiYXInKTsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjgsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnsi

[2017-09-13 09:22] borekb opened #253 "array-bracket-spacing false positive in array desctructuring syntax"
In our rules:

[code]

TypeScript's array destructuring syntax:

[code]

The rule incorrectly thinks that it is an array and prints "There should be no space after "[" (array-bracket-spacing)".

[2017-09-13 13:17] buzinas commented on #253
Although you're correct that's not an array, this rule is a mirror of ESLint one, and [as you can see](https://eslint.org/demo/#eyJ0ZXh0IjoibGV0IFsgbXlWYXIxLCBteVZhcjIgXSA9IGdldFZhcmlhYmxlcygpOyIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6Niwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6eyJhcnJheS1icmFja2V0LXNwYWNpbmciOjJ9LCJlbnYiOnt9fX0=), the same messages shows u

[2017-09-13 13:17] #253 closed

[2017-09-13 13:18] #248 closed

[2017-09-13 13:23] buzinas commented on #251
Hey Trivikram, thanks for your message!

I'll be very thankful for your help on this :)
Here are your answers:

I don't think so, you can prioritize as your judgement.

Ideally, we should have opened issues and people can comment/tag themselves if they start working on it.

Hell yea!

[2017-09-13 13:26] buzinas commented on #252
Hey @Patrik-Lundqvist, thanks for logging this bug report.

Please, feel free to open a PR for fixing this, if you'd like to :)

[2017-09-13 14:39] borekb commented on #253
Thanks for the explanation. For reference, this is the canonical ESLint issue:
Allow different brackets spacing behaviour on deconstructing pattern #7649 https://github.com/eslint/eslint/issues/7649

[2017-09-13 16:09] trivikr commented on #251
Thanks @buzinas !
I'll check with my friends and select one day to contribute to this project. As of now, we're busy till 09/30

While working on a new rule:
- We'll create an issue with [new rule](https://github.com/buzinas/tslint-eslint-rules/labels/new%20rule) to track the work
- We'll follow the [Contributing Guidelines](https://github.com/buzinas/tslint-eslint-rules/blob/master/CONTRIBUTING.m

[2017-09-13 16:25] #251 closed

[2017-09-14 19:02] nathanmarks opened #254 "[ter-indent] Call expression arguments false positives"
With the following rule configuration:

[code]

This is reporting as a false positive:

[code]
It wants me to do this instead:

[code]

[2017-09-16 08:00] jez9999 opened #256 "Implement start tabs for indent rule"
Smart tabs allows the use of tabs for indentation, spaces for alignment.  This is a crucial feature that there is basically no alternative to, if you're using tabs for indentation.  Please implement this.  I used it with ESLint and didn't come across any issues.

[2017-09-16 09:58] jez9999 opened #257 "Add unicode-bom"
ESLint has a `unicode-bom` rule.  It should exist for tslint too.

[2017-09-28 12:59] Izhaki opened #259 "Partial implementation of ESLint rule?"
When it comes to the `semi` rule, TSLint is missing the [`omitLastInOneLineBlock`](https://eslint.org/docs/rules/semi) rule that ESLint implements.

Yet in the chart the `semi` rule is marked as "provided natively".

Just wonder if "provided natively" is a mistake, or that partial implementation is considered as full one?

[2017-10-02 09:48] kasperoo commented on #244
Seeing the same problem. Just after we upgraded tslint from 5.5.0 to 5.6.0

[2017-10-03 13:15] dragGH102 opened #261 "Eslint rules not loaded?"
How to reproduce:

- npm install --save-dev tslint-eslint-rules
- add

[code]

to **tslint.json**

- npm run lint # from ionic app scripts - they use tslint.json config

- In any file:

### Result:

no error or warning for that line

### Expected

[2017-10-03 14:01] dragGH102 commented on #261
Also, **no error** if the package is removed as it was ignored.

I am now using another package (tslint-ionic-rules) which extends this and specifies the rules directory and it seems to work

[2017-10-03 14:16] #261 closed

[2017-10-06 16:40] shyr1punk opened #262 "Extend valid-jsdoc rule with optional prevent using tags and types"
I propose to add the ability optional prevent using some tags and types in JSDoc comments.

Typescript is excellent self-documented language. And JSDoc can duplicate types and tags

## JavaScript
[code]

## TypeScript
[code]

Examples and idea from https://blog.cloudflare.com/generating-documentation-for-typescript-projects/

What you think about add in config options:
[code]

[2017-10-13 17:29] wesleymostien opened #263 "sort-imports : ignore-case option not working"
![screen shot 2017-10-13 at 19 27 07](https://user-images.githubusercontent.com/6223285/31558334-bb22f5b4-b04c-11e7-8b22-887101b71395.png)
![screen shot 2017-10-13 at 19 27 17](https://user-images.githubusercontent.com/6223285/31558335-bb3e94fe-b04c-11e7-9435-b15fd6a9365b.png)

although I've set to ignore case, it seems to complain...

[2017-10-13 17:31] wesleymostien opened #264 "improvement "sort-imports" : grouping + newlinebetween"
like on https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md

- ability to group member types (and considerate 1 group)
- also force a newline between each group

[2017-10-16 20:45] jez9999 opened #265 "Rules cannot be set to warning"
For some reason these rules don't work with the normal TSLint syntax, for example this should set the indent rule to warning:

    "rules": {
		"ter-indent": {
			"severity": "warning",
			"options": ["tab", {"SwitchCase": 1}]
		},

... but it still gives me an error when the rule is violated.

[2017-10-16 22:37] #234 closed

[2017-10-17 00:39] nfour commented on #244
Appears to only occur on typescript@2.5 for me.

[2017-10-17 05:09] #249 closed

[2017-10-17 05:11] #215 closed

[2017-10-17 07:57] buzinas commented on #261
That happens because this project only creates the rules, but we don't enforce any of them, so you must either use another package that extends this one and actually use the rules, or you must declare the rules yourself.

[2017-10-17 08:04] buzinas commented on #256
Not a priority for this project, but feel free to fork it and open a PR, I'll be glad to help you.

[2017-10-17 08:08] buzinas commented on #262
Hello @shyr1punk, thanks for the suggestion!

Although I appreciate the idea, it's not in the scope of this project (which is to have ESLint mirrored rules for TSLint). I recommend you to fork this project, remove all the other rules, and create the rules you feel it would be valuable for the community and publish your own project to npm :)

[2017-10-17 08:12] buzinas commented on #264
Hey Wesley, thanks for the suggestion!

Although I appreciate the rule, it's out of scope of this project (which is to have core ESLint rules mirrored for TSLint). I recommend that you fork this project, remove all the current rules and create any rules you think it's valuable for the community and publish your own package to npm :)

[2017-10-17 08:12] #264 closed

[2017-10-17 08:12] buzinas commented on #265
@jmlopez-rod can you take a look at this one?

[2017-10-17 08:47] jez9999 commented on #265
I must've been doing something wrong, it's working now.

[2017-10-17 08:47] #265 closed

[2017-10-17 18:39] #254 closed

[2017-10-17 19:14] jmlopez-rod commented on #244
Is this still an issue? I recall trying this out and I did not encounter the problem. I opened a branch to test this out:

[code]

After running the test I get this:

[code]

Those are valid errors, we are specifying the use of two spaces per indent. I'll close this for now but feel free to reopen if the problem can be reproduced.

[2017-10-17 19:14] #244 closed

[2017-10-18 15:57] lafiosca commented on #244
I am encountering this same error, but in my case it appears to be caused by an interaction between globally-installed and locally-installed packages. Specifically, I was under a project directory generated by Angular's `ng new` command, which had installed tslint@5.3.2, but the tslint I was running was the globally-installed tslint@5.7.0. Some of the relevant dependencies also had differing versi

[2017-10-18 23:48] jez9999 commented on #257
I've been investigating and it looks like each rule is passed a `SourceFile`:

    public apply(sourceFile: ts.SourceFile): Lint.RuleFailure[]

Unfortunately, `SourceFile`'s `.text` property has already had the BOM removed by the time it gets to the rule.  Can anyone suggest a way I can get at the actual raw file?  Does tslint need modifying to pass the raw file contents into the rule as well?

[2017-10-19 01:20] jmlopez-rod commented on #257
If the source file has the name of the file perhaps you can read it yourself instead?

[2017-10-19 09:16] jez9999 commented on #257
Very inefficient, isn't it?  It means reading the file twice.

[2017-10-19 15:47] jmlopez-rod commented on #257
Isn't there a way to just read a certain amount of bytes from a file?

https://stackoverflow.com/questions/30096691/read-a-file-one-character-at-a-time-in-node-js

In this case I think you only care about the first byte which was already removed. Another possible way would be to see if typescript can add a flag to the source file that tells us if it has a BOM or not... similar to the parser of esl

[2017-10-19 16:05] jez9999 commented on #257
I think you'd have to modify the code of Typescript or TSLint itself to add such a flag.  And I don't like my chances of getting a pull request accepted for that. :-(

[2017-10-19 16:13] jmlopez-rod commented on #257
Perhaps you could open up an issue and see if they would add this flag for you, in the past they had issues with this it seems: https://github.com/Microsoft/TypeScript/issues/8087

If this is a no go and this rule is very important to you you can try to read that first byte to determine if a warning should be thrown or not. Good luck.

[2017-10-19 16:22] jez9999 commented on #257
I've submitted an issue, for what it's worth:

https://github.com/Microsoft/TypeScript/issues/19344

[2017-10-19 16:27] jez9999 opened #268 ""indent" rule is not the equivalent of ESLint "no-mixed-spaces-and-tabs""
As the TSLint team have officially said no to implementing `smart-tabs` for their `indent` rule, it is not the equivalent to the ESLint `no-mixed-spaces-and-tabs` rule (and never will be because they reject smart-tabs) so it should not be listed as the equivalent in the tslint-eslint-rules README.

[2017-10-19 23:03] jmlopez-rod commented on #257
Well, seems like you'll have to do https://github.com/palantir/tslint/blob/master/src/rules/encodingRule.ts, but on second though, doesn't that rule do what you need to the eslint `unicode-bom`? Maybe we'll just need to document it and point it out. Let me know if you agree and feel free to make a PR.

[2017-10-19 23:29] jez9999 commented on #257
Interesting, that rule is rather misnamed.  It actually enforces what it calls "UTF-8 encoding", which is UTF-8 encoding *without* the BOM.  That happens to do what I want but it's not quote the same as the `unicode-bom` rule which could be configured to either require or disallow the BOM.

[2017-10-20 11:00] jez9999 opened #269 "Implement no-mixed-spaces-and-tabs rule"
As the indent rule is not the equivalent of ESLint's no-mixed-spaces-and-tabs because it doesn't implement smart-tabs (see #268), a new no-mixed-spaces-and-tabs rule should be introduced that allows a "smart-tabs" option.

[2017-10-20 17:41] jez9999 commented on #256
The solution for this is to implement a new rule to give a TSLine equivalent to `no-mixed-spaces-and-tabs`.  I have implemented this rule and I will submit a pull request.

[2017-10-22 20:29] ctrom commented on #263
I am also experiencing this issue. How can I help debug it?

[2017-10-23 13:40] yubaoquan opened #271 "space-in-parens not working"
tslint.json:
[code]

excepted:
[code]

actual:
[code]

[2017-10-23 13:46] yubaoquan opened #272 "indent not working"
tslint.json
[code]

expected
[code]

actual
[code]

[2017-10-25 02:26] yubaoquan commented on #272
wrong repo,  see this https://github.com/palantir/tslint/issues/2814

[2017-10-25 02:26] #272 closed

[2017-10-25 18:51] jmlopez-rod commented on #271
I think you are thinking of another rule: https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/arrayBracketSpacingRule.md

The space in parens are for `()` not for `[]` which are brackets.

[2017-10-25 18:53] #271 closed

[2017-10-25 18:53] jmlopez-rod commented on #263
@MeltingMosaic Could you help out with this issue?

[2017-10-26 01:52] yubaoquan commented on #271
Thank you !

[2017-10-31 23:02] zakjan opened #273 "Release master to support TS 2.6"
Please release a new version, because the latest tag 4.1.1 depends on tsutils@^1.4.0, while master depends on ^2.4.0. tsutils@^1.4.0 can't be used with TS 2.6.

[2017-11-03 07:09] reduckted commented on #257
FWIW, there's a duplicate issue for this in the TSLint repo: https://github.com/palantir/tslint/issues/3331

[2017-11-03 14:45] rokerkony commented on #254
Hi @jmlopez-rod,
do you have an idea when it will be released?

[2017-11-05 16:06] ikokostya commented on #198
[no-duplicate-switch-case](https://palantir.github.io/tslint/rules/no-duplicate-switch-case/) rule is supported in [tslint 5.8.0](https://github.com/palantir/tslint/blob/master/CHANGELOG.md#tada-features).

[2017-11-06 21:13] Xapphire13 commented on #213
WIP: [here](https://github.com/Xapphire13/tslint-eslint-rules/tree/paddedBlocks)

[2017-11-08 06:38] MeltingMosaic commented on #263
I'll take a look

[2017-11-08 07:22] MeltingMosaic commented on #263
Weird. I created a new test case
[code]
But it passed `gulp test`.

@ctrom, @wesleymostien , do either of you have a repo I can clone to repro this?

[2017-11-16 04:26] buzinas commented on #273
I'll release as soon as I check/merge the pending PRs. Sorry for the delay!

[2017-11-17 06:59] ekoneko opened #275 "[ter-indent] not work with some comments"
➜  tslint-eslint-rules git:(master) ✗ npx tslint --version
5.7.0
➜  tslint-eslint-rules git:(master) ✗ npx tsc --version
Version 2.5.3

Run this test case:

[code]

The result is:

[code]

When we remove the function comments, this test works fine.

[2017-11-19 19:29] ricklancee commented on #247
This seems to happend when i add more than one `@params` in my jsdoc.

Typescript: `2.5.3`
Tslint: `5.8.0`
Running in vscode

Error: `Expected indentation of "NaN" spaces but found 0.`
[code]
No error:
[code]

[2017-11-19 22:43] trivikr opened #280 "About using Prettier in tslint-eslint-rules"
Can we use [Prettier](https://github.com/prettier/prettier) for formatting TypeScript code in tslint-eslint-rules?
Prettier is an opinionated code formatter. It removes all original styling and ensures that all outputted code conforms to a consistent style.

We recently started using Prettier for private projects, and life has been better. We don't worry/argue about formatting any more 😊
Of course

[2017-11-25 14:26] ikokostya commented on #172
README.md is updated, thanks. Closing.

[2017-11-25 14:26] #172 closed

[2017-11-28 05:26] reduckted commented on #273
Any update on this? I'm hanging out for #238 to be released. Is there anything we can do to help?

[2017-11-28 19:31] taylon commented on #214
I think that using "rulesDirectory" like suggested by @donaldpipowitch would be an amazing good practice for rule packages in general.

That way "rulesDirectory" would always be the way to "import" the rules and "extend" is the way to enable a preset, that is more like ESLint btw, where you have "plugins" for new rules and "extend" for presets (correct me if I'm wrong on this one).

While tslint-e

[2017-12-01 19:56] LandonSchropp commented on #273
I'd also really appreciate an update. I just spent an hour trying to figure out why my custom `tslint-eslint-rules` weren't being applied before I ran across this issue.

[2017-12-01 20:53] buzinas commented on #273
Hopefully by Dec 7th!

[2017-12-07 12:59] LayZeeDK commented on #243
Same issue with `typescript` version 2.5.2 and `tslint` version 5.8.0.

[2018-01-12 10:57] patrickreck opened #285 "Implement lines-between-class-members"
It'd be great if we could [lines-between-class-members](https://eslint.org/docs/rules/lines-between-class-members)  implemented.

[2018-01-18 01:49] sumanTitan opened #286 "Tslint in tsx with tabs implemented with space."
I have my configuration set as:
`"ter-max-len": [
            true,
            100,
            {
                "tabWidth": 4,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreComments": true
            }
        ]`

Now when I indent my jsx and reaches more than 100 characters, tslint shows error.

The issue is I have jsx indented 10 times or m

[2018-01-21 09:37] waitingsong opened #287 "got error under tslint v5.9.1"
"tslint-eslint-rules": "^4.1.1"

I run lint ```tslint -p tslint.json src/**/*.ts test/**/*.ts``` , then got error under tslint **v.5.9.1** , but no error under tslint **v5.8.0**

- tslint.json
[code]

Also error if i use below:
[code]

It's work no error:
[code]

The reason of using both extends and rulesDirectory is i want to use it in angular project:
[code]

or should i post this to the issues

[2018-02-06 17:46] johan commented on #273
Any update on this? The https://github.com/buzinas/tslint-eslint-rules/compare/v4.1.0...master history comparison shows it's been a long while. Is there additional peer review or similar happening between landing PR:s and new package versions getting published to npm?

[2018-02-08 09:19] Kovensky opened #289 "no-empty-character-class false positive with unicode regexps"
Any regular expression with `u` in their flags causes the warning.

<img width="613" alt="image" src="https://user-images.githubusercontent.com/73085/35964938-93ec1252-0cfc-11e8-930a-956cd3ecf9bf.png">

Presumably the same will happen when typescript gets support for `s` in the flags (dotAll).

[2018-02-11 18:51] taylon commented on #273
@buzinas anything we can do to help here?

[2018-02-14 19:21] Xapphire13 opened #290 "Please add more maintainers to the repo"
It seems that the currently maintainers don't have enough bandwidth to service this repository, could you add more maintainers to remove burden?

[2018-02-14 19:38] buzinas commented on #290
Do you want to be a maintainer, @Xapphire13?

[2018-02-14 19:40] Xapphire13 commented on #290
I wouldn't mind, but I can't guarantee how available I'd be either haha. But I guess the more the merrier?

[2018-02-14 19:40] buzinas commented on #290
I just invited you to be a collaborator.

[2018-02-14 22:32] jmlopez-rod commented on #290
@buzinas , will you be providing someone else access to npm so that they can also publish? There is still more work to do to get the project up to date with the latest typescript and tslint rules. I'll try to help out a bit till someone can take care of this. I have just released 5.0 right now which is built with typescript 2.6. About to take it for a ride in another project to see if there are an

[2018-02-14 22:45] jmlopez-rod opened #292 "Switch to yarn"
I think its time to get the builds in order. @buzinas suggested to switch to yarn so that we can avoid failed builds because npm obtained a different package from the one in our machines.

I'm also noticing that we have a typings folder. I think most of them can be replaced by installing from `@types`.

Also, since there will be more collaborators with permissions to merge and publish it would be

[2018-02-15 02:47] #213 closed

[2018-02-19 18:27] #275 closed

[2018-02-19 18:44] jmlopez-rod commented on #290
@buzinas I have added [release instructions](https://github.com/buzinas/tslint-eslint-rules/blob/master/CONTRIBUTING.md#releasing-to-npm) for any collaborator that you are willing to give access to npm. If someone could manage this for now to do incremental bug fixes and adding new rules it would be great since I haven't had much time to give to this project. I'll try to help out with code-reviews

[2018-02-20 05:15] meritozh opened #293 "how to enable all recommended rules?"
I don't want add all recommended rules one by one manually. Can it support `tslint-eslint-rules:recommended` in *tslint.json* `extends` field?

[2018-02-20 18:27] jmlopez-rod commented on #293
The "recomended" text comes from eslint. Even if it is recommended the options that someone would put in there might not be the ones that you want. This project is not meant to create the configuration for you. You have to look at other projects that provide you with a configuration file such as https://github.com/blakeembrey/tslint-config-standard

The goal of this project is solely to provide th

[2018-02-20 18:27] #293 closed

[2018-02-22 14:27] jhdevuk opened #294 "Rule "newline-after-var" incorrectly fixing code and within try catch block"
I've enabled the "newline-after-var" rule, however when fixing it doesn't seem to maintain the existing indentation. For example this code:

[code]

Is incorrectly changed to:
[code]

As it's the end of a try catch it shouldn't be fixing this, and secondly the newline it adds has no indentation.

Thanks

[2018-02-22 18:30] webschik commented on #294
@jhdevuk , thanks! I will check this asap

[2018-02-23 11:58] webschik commented on #294
It's fixed in PR https://github.com/buzinas/tslint-eslint-rules/pull/295

[2018-02-25 02:05] #294 closed

[2018-02-25 03:24] jmlopez-rod commented on #294
v5.1.0 is released and it has this fixed included.

[2018-02-25 03:25] jmlopez-rod commented on #292
@buzinas npm just released a "better" npm with the `ci` command? should we try it before we jump into the yarn train?

[2018-02-25 03:28] buzinas commented on #292
@jmlopez-rod I've been using yarn over the last 13 months and to be honest, I never looked back

[2018-02-25 09:09] sanex3339 opened #296 "ter-padded-blocks and JSDoc"
With new `ter-padded-blocks` option with `never` value i getting false-positive alerts on empty blank lines when JSDoc block is existing above method of the class.

![image](https://user-images.githubusercontent.com/9210534/36639750-58289468-1a24-11e8-855d-1d1154e7c56c.png)

[2018-02-25 15:51] buzinas commented on #273
Latest master was released, thanks!

[2018-02-25 15:51] #273 closed

[2018-02-25 15:52] buzinas commented on #280
Sure thing! I love Prettier :)

[2018-02-25 15:53] buzinas commented on #285
No plans, but I'd be glad to accept a PR for this :)

[2018-02-25 15:56] buzinas commented on #286
Not really. The `max-len` rule goal is to make the code horizontally readable, to fit multiple tabs open side by side etc. By ignoring the indentation, the rule loses its purpose.

Unrelated, but I'd suggest you to decrease your `tabWidth` to `2`, and you'll be able to see much more code, while still having a nice readable code.

[2018-02-25 15:56] #286 closed

[2018-02-25 15:56] buzinas commented on #287
Latest master was released, which supports TS v5.x.x

[2018-02-25 15:56] #287 closed

[2018-02-25 15:58] buzinas commented on #259
Probably we should update the docs to show it as partially provided natively.

[2018-02-25 15:59] buzinas commented on #289
Hey @Kovensky, thanks for reporting the problem. This issue shouldn't be too hard to fix, would you open a PR for that?

[2018-02-25 16:00] buzinas commented on #290
I'll be more actively maintaining the repo, and will be adding more maintainers during the process. Thanks for opening this issue!

[2018-02-25 16:00] #290 closed

[2018-02-25 16:02] buzinas commented on #296
Hey @sanex3339, thanks for reporting this issue!

The fix for this one shouldn't be too hard to implement, would you like to create a PR for that?

[2018-02-26 05:24] trivikr commented on #280
👍
I'll raise a PR with Prettier once my other PRs are merged to master https://github.com/buzinas/tslint-eslint-rules/pulls

[2018-02-26 05:53] jmlopez-rod commented on #280
FYI, we do lint our code in an opinionated way using the rules we create: https://github.com/buzinas/tslint-eslint-rules/blob/master/tslint_eslint_rules.json

This is ran everytime we use `npm test` as well as the rules from `tslint.json`.

[2018-02-26 06:31] trivikr commented on #280
Sure, I'll remove tslint-eslint-rules used in this project which are conflicting with Prettier formatting rules.

[2018-02-27 10:32] webschik opened #302 "ter-newline-after-var shows unexpected error"
In the next code, the validator shows an error 'Expected blank line after variable declarations.', but it shouldn't.

[code]

[2018-02-27 14:46] #302 closed

[2018-02-28 18:38] vyshkant opened #304 "Add an ability to apply all the rules"
# The problem

I had a problem with applying the rules providing by this package, and I think I have an idea how can it be improved.

Suppose, I have the next TSLint config:
[code]
This configuration means, that all the rules of preset `tslint:all` will be applied to my code. So I expect, that adding `tslint-eslint-rules` to `extends` section will do the same: the rules of `tslint-eslint-rules` pr

[2018-02-28 20:06] buzinas commented on #304
Thanks for the suggestion! Though, we don't want to be opinionated about which rules you should be using. We do have a `json` file in the repo that we use to linter our own project, which is opinionated.

Dupe of #229 (and others).

[2018-02-28 20:08] buzinas commented on #304
Thanks for the suggestion! Though, we don't want to be opinionated about which rules you should be using. We do have a `json` file in the repo that we use to linter our own project, which is opinionated.

[2018-02-28 20:08] #304 closed

[2018-02-28 21:22] vyshkant opened #305 "Bug: the default value of "space-in-parens" is "always" (expected "never")"
### TSLint version:
[code]

### TypeScript version:
[code]

### tslint.json configuration:
[code]

### TypeScript code being linted:
[code]

### Actual behavior:
[code]
(the positions of expected space are near these four parens)

### Expected behavior:
No errors, because expected default value of "space-in-parens" is "never".

[2018-02-28 21:29] buzinas commented on #305
Hey @vyshkant, thanks for spotting this!

Would you mind to go ahead and create a PR changing this behavior and also adding a test that ensures the default value is `never` when no parameters are passed?

[2018-02-28 21:37] vyshkant commented on #305
Sure, I'll gladly write a PR! If it can wait a few days :smile:

[2018-02-28 21:51] vyshkant opened #306 "Errors on the "ter-no-mixed-spaces-and-tabs" docs page"
There are errors in the "Examples" section of "ter-no-mixed-spaces-and-tabs" docs page: https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/terNoMixedSpacesAndTabsRule.md

For example, on lines 36, 40, 44, 48 there are non-closed braces.

[2018-02-28 21:56] vyshkant opened #307 "The rules "ter-no-proto", "ter-no-script-url", "ter-no-self-compare" are not available"
### TSLint version:
[code]

### TypeScript version:
[code]

### tslint.json configuration:
[code]

### Actual behavior:
[code]

### Expected behavior:
No errors, because there are the docs pages describing usage of these rules:
- https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/terNoProtoRule.md
- https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/te

[2018-02-28 21:58] vyshkant commented on #307
So we need either to delete the docs page, or implement the rule :)

[2018-02-28 22:28] buzinas commented on #307
Exactly. I'll release next version on Friday.

[2018-02-28 22:28] #307 closed

[2018-03-01 20:46] ryhumble commented on #296
I'll add that this occurs for all comment lines. For example, the following examples fail:
[code]

[code]

[2018-03-02 17:39] #205 closed

[2018-03-02 17:40] guidojo commented on #205
This has been solved in the newest tslint rules :)

[2018-03-08 16:16] m93a opened #309 "brace-style doesn't work for classes"
The rule `brace-style` does not affect the braces around the class body – see the fixed bug at eslint/eslint#7608.

**How to reproduce**
[code]

**Expected**
* tslint throws an error
* if I change the code to Allman, it should be ok

**Actual**
* no error was thrown
* if I change the code to Allman,  tslint throws an error

---

I haven't done a PR because I couldn't find the Typescript API specs,

[2018-03-15 14:35] enessoylu opened #310 "TSLint already informs for extra semicolon"
TSLint informs for extra semicolons with this option:

`"semicolon": [true, "always"]`

It is better to update the table for the **no-extra-semi** row

[2018-03-17 19:28] karfau commented on #198
This would be so awesome. It is really difficult to be able to distinguish which one to use/keep from looking at the code. Maybe the tests could be a good source for comparison...

We created [a configuration](https://github.com/bettermarks/bm-tslint-rules), that uses both https://github.com/Microsoft/tslint-microsoft-contrib and `tslint-eslint-rules` and there are the following "name clashes" (in

[2018-03-23 18:42] JohnPucciarelli opened #312 "Inherit Rules From .eslintrc.json"
Hi,

Is there any way to specify an `.eslintrc.json` file to inherit rules from?
Is this a feature that could be implemented?

Appreciate your help.

[2018-03-27 13:25] noe132 opened #313 "rule no-multi-spaces report on multi spaces inside template string literal"
**code:**
[code]

**rule: **
[code]

**what was expected to be:**
no error report.

**versions:**
tslint 5.9.1
tsc 2.7.2

[2018-03-28 14:16] vyshkant commented on #307
@buzinas What Friday did you mean? :smile:

[2018-03-31 08:03] jodaka commented on #312
This would make life so much easier

[2018-04-06 12:54] gitowiec opened #315 "Such rules give warnings: ter-indent, ter-arrow-parens, object-curly-spacing, array-bracket-spacing, brace-style"
My project uses [tslint-config-airbnb](https://github.com/progre/tslint-config-airbnb/issues/34)
I had to override this rules to `false`
[code]
to make screen output of `yarn tslint` free of these  warnings

[code]

[2018-04-09 20:38] astorije commented on #229
I know I'm late to the party, but it would be nice to have a recommended preset that enables the same rules as the ones in ESLint's recommended preset.

[2018-04-11 22:05] sstchur opened #316 "Unable to make Allman bracing style work for class member declarations"
tslint version 5.9.1
tsc 2.7.2

I'm trying to make tslint enforce Allman style bracing even for members on classes, but it doesn't seem to work:

[code]

tslint won't allow the above unless I either indent the curly braces for someObj, or move the open curly brace up onto the same line as the member declaration, neither of which I'm willing to do.

It seems that ter-indent has a rule "VariableDecl

[2018-04-12 15:23] iarroyo5 opened #317 "Could not find implementation for ter-no-proto, ter-no-script-url, ter-no-self-compare"
### Bug Report
* **tslint version:** 5.9.0
* **tslint-eslint-rules version:** 5.1.0
* **Running TSLint via:** CLI

Could not find implementation for:
- `ter-no-proto`
- `ter-no-script-url`
- `ter-no-self-compare`

**Actual configuration**
[code]
^ I have more rules in the configuration and they work as expected.

**Actual behaviour**
I get the following error:

<img width="679" alt="screen shot 20

[2018-04-14 01:44] ry opened #318 ""space-before-blocks" doesn't work."

[2018-04-27 05:43] tlaskowski commented on #296
Hi @buzinas , what is the status of JSDoc issue?

[2018-05-01 06:55] micky2be commented on #296
Still having an issues with a line of comment before a block

[2018-05-02 04:05] mt-micky commented on #214
I'm currently writing a set of rules to share across my company and be able to use `rulesDirectory` would make much more sense

[2018-05-02 05:08] mt-micky commented on #317
Still waiting: #307

[2018-05-03 12:10] phyllisstein opened #319 "sort-imports emits false positives for named imports with spaces in braces."
I was taking the `sort-imports` rule for a spin with the following configuration:

[code]

...and noticed that although it attempts to order imports by their names (a welcome relief from whatever the heck TSLint thinks it's doing with their paths), it throws a false positive for named imports with spaces in their braces. For example, this code:

[code]

...emits this error:

[code]

As the error i

[2018-05-07 11:39] avrahamcool commented on #317
any news on this?

[2018-05-08 05:54] #305 closed

[2018-05-08 06:26] jmlopez-rod commented on #317
Available in [5.2.0](https://github.com/buzinas/tslint-eslint-rules/blob/master/CHANGELOG.md)

[2018-05-08 06:26] #317 closed

[2018-05-08 06:29] #319 closed

[2018-05-08 06:32] jmlopez-rod commented on #315
Can you please provide some sample code that generates those errors?

[2018-05-08 06:59] jmlopez-rod commented on #312
I am not sure if this would be possible. You might be aware that tslint can extend configurations: https://palantir.github.io/tslint/2016/03/31/sharable-configurations-rules.html, but this is only for rules written for tslint.

[2018-05-08 06:59] #313 closed

[2018-05-09 08:25] jkasten2 commented on #205
@guidojo Do you mean the `ignore-same-line` and `as-needed` options in `tslint`?

@buzinas @guidojo `eslint` has `multi-or-nest` which is different then these rules. Can this be applied in some way with this plugin? If not I vote to reopen this issue.

Tried a few iterations of setting `"curly":` with `multi-or-nest` in my `tsconfig.json` without any luck.

Thanks!

[2018-05-14 09:20] janez-svetin opened #322 "Enhancement for "array-bracket-spacing" rule"
Is it possible to ask for enhancement of this rule to be able to report on the:

[code]

Or is there any other rule which can enforce this? Thanks

[2018-05-15 12:53] janez-svetin commented on #322
Solved this with custom written rule.

[2018-05-15 12:53] #322 closed

[2018-05-18 14:08] jmlopez-rod commented on #296
Same here:
[code]

[2018-05-18 19:57] jmlopez-rod commented on #296
Ok, just letting you guys know that I'm working on it. There are several issues with it.

[2018-05-19 17:39] davidgg opened #324 "Recommended ESLint rules package"
Hi!

Not a real issue, this could be closed, but I just wanted to let you know that I've created a tiny npm package using tslint-eslint-rules as base,
[tslint-eslint-rules-recommended](https://www.npmjs.com/package/tslint-eslint-rules-recommended)

It enables estlint:recommended preset using tslint-eslint-rules and TSLint native rules when available.

Suggestions welcome!

[2018-05-19 17:39] #324 closed

[2018-05-26 21:53] dland512 opened #325 "brace-style rule not handling options"
Given this code:
[code]

and this rule:
`"brace-style": "stroustrup"`

I get an error as expected:

However, given the [eslint document](https://eslint.org/docs/rules/brace-style), I would expect to be able to provide some options to this rule:

    "brace-style": ["error", "stroustrup"]

But when I do this the error no longer appears.

And now that I look at it, there error message doesn't make s

[2018-06-01 18:14] SnailCoil commented on #306
seems like this can be closed via e54fdb0e70b98139f147f51ab61a40f9d9d1a07e

[2018-06-10 01:49] NitroBAY commented on #289
Same goes for s

[2018-06-10 16:45] jeremejevs opened #326 "ter-computed-property-spacing"
The following code is marked as invalid by the "never" mode of this rule:

[code]

However, I believe it _is_ valid, as per [ESLint's tests](https://github.com/eslint/eslint/blob/de4dba963963d4fed27dc770e52c2d23fd0542d9/tests/lib/rules/computed-property-spacing.js#L61-L62):

[code]

[2018-06-14 16:32] mscottnelson commented on #256
@jez9999 , I've tried these rules and, given a tab followed by a space, am still getting a lint Error of "indentation has mixed tabs and spaces (ter-no-mixed-spaces-and-tabs)" when smartTabs is set to true. I have tried both `"ter-no-mixed-spaces-and-tabs": { "smartTabs": true }` and `"ter-no-mixed-spaces-and-tabs": { "type": "tabs", "smartTabs": true }`, although I'm not sure what the difference

[2018-06-21 00:32] dobesv opened #328 "sort-imports documentation"
On the front page sort-imports links to the eslint documentation for sort-imports.  However, this version of sort-imports has differently named options and so forth, so that documentation doesn't apply.

[2018-06-21 00:33] dobesv commented on #328
nevermind, I'm just a bit blind.

[2018-06-21 00:33] #328 closed

[2018-06-28 21:13] dobesv opened #330 "sort-imports fixer"
The sort-imports rule doesn't have a fixer like the eslint one does.

It would be great if running `tslint --fix` would sort imports according to the specified rules.

[2018-06-28 21:13] dobesv commented on #330
If nobody is already working on this I could make an attempt at it.

[2018-07-03 07:22] enessoylu opened #331 "Allman brace-style rule not working for switch-case blocks"
tslint version: 5.10.0
typescript version: 2.8.1

tslint.json configuration related with the issue:
[code]

typescript code being linted:
[code]

actual behavior.

Gives no error.

expected behavior.

Error on the starting of the switch-case block, saying that the opening curly brace should be on the next line.

[2018-07-07 17:48] mlippert commented on #160
This was the enhancement request I was about to file. I could use the Array and Object indent rule options that eslint has. I wanted to use this rule in tslint.yml:
[code]
so that this passes:
[code]

[2018-07-09 01:14] banxi1988 opened #332 "Update peer dependency for typescript 3.0"
Hi, I'm using typescript 3.0, and I got a warning.
and I think it's time to update the peer dependency.

[2018-07-10 03:21] hassankhan commented on #315
Getting the same errors with a sample file as simple as this:

[code]

[2018-07-11 14:24] dmnrmr commented on #160
Any updates?

[2018-07-11 20:53] wesm87 opened #333 "`ter-indent` rule flags lines incorrectly for chained functions whose args span multiple lines"
I'm having trouble with the `ter-indent` rule giving me false positives in cases where I have a number of chained functions spread across multiple lines, and one of those functions has its arguments spread across multiple lines. For example:

[code]

In the example above lines 5-9 would be flagged as having 2 extra spaces, presumably because it's counting from the first character of `startChainedM

[2018-07-16 08:33] tlaskowski commented on #296
Hi, when can we expect a new version with padded blocks fixer ?

[2018-07-26 05:56] aleung opened #336 "Do you accept PR to implement enhanced no-throw-literal?"
TSLint core rules includes [no-string-throw](https://palantir.github.io/tslint/rules/no-string-throw/) which equals to ESLint [no-throw-literal](https://eslint.org/docs/rules/no-throw-literal).

However, in _no-throw-literal_ document it says:

In TSLint, we're able to create a rule using type info to overcome the limitation.

I'd propose a new rule to restricts that only instances of `Error` or i

[2018-07-30 11:43] RaneAshwini opened #337 "can we have any rule for checking the annotations on the function"
I have code like
@check()
public checkFun()
{
// code
}
How do I add the rule to check functions should have @check() annotation everytime some one add new function.

[2018-08-01 01:21] zachlysobey opened #339 "version field is incorrect in package-lock.json"
When I `npm install`ed, the package-json version updated. Perhaps some version bumps were done manually in `package.json` without updating the *lockfile* (as happens automatically with `npm version ____`).

[code]

[2018-08-02 14:07] josh-degraw opened #342 "Auto-fix for brace-style"
The `brace-style` rule can apply fixes in eslint, but not with tslint. I am converting a project to typescript and have enjoyed and relied on setting some of the styling rules in eslint and having them autofix. But this is one of a few style rules that are not autofixed with tslint. It would be really great to have that functionality again.

In another vein, it would be useful to know (perhaps in

[2018-08-03 08:47] feedm3 opened #343 "Missing newline rules to achieve consistent trailing comma handling"
There are some missing rules in this repository regarding "newline", which are part of ESLint.

- `function-paren-newline `
- `object-curly-newline `
- `array-bracket-newline`
- `array-element-newline`

All those rules are needed to have a [consistent](https://medium.com/@nikgraf/why-you-should-enforce-dangling-commas-for-multiline-statements-d034c98e36f8) "[Additional trailing comma](https://gith

[2018-08-03 16:57] a88zach opened #344 "Update dependency for typescript@3.0.0"
tsutils@2.8.0 is not compatible with typescript@3.0.0 and above.  The issue was fixed in tsutils@2.27.2

https://github.com/ajafff/tsutils/pull/66

please update tsutils to a version compatible with typescript@3.0.0

[2018-08-03 21:41] chulkilee commented on #332
Should be done after #344

[2018-08-15 00:15] alecf commented on #344
@buzinas ping..

[2018-08-15 02:32] #332 closed

[2018-08-15 02:33] #339 closed

[2018-08-15 04:07] jmlopez-rod commented on #344
I updated the project to use typescript > 3.0 and updated tsutils as well:

https://github.com/buzinas/tslint-eslint-rules/pull/345

[2018-08-15 04:07] #344 closed

[2018-08-15 04:07] jmlopez-rod commented on #344
To be released shortly

[2018-08-15 04:33] jmlopez-rod commented on #336
Not familiar with the rule but this project is mainly to act as a mirror to the rules provided by eslint.
Keep in mind that the readme table tries to provide rules from tslint that closely matches the one we want in eslint. If for some reason the tslint rule is not doing what the eslint rules does you are welcome to provide one that matches the behaviour and passes the tests from eslint.

Is there

[2018-08-15 04:36] jmlopez-rod commented on #333
This... really bothers me. I'd like to fix it but there is very limited amount of time. I'm going to kindly ask to some kind stranger to help us out here in the mean time.

[2018-08-15 04:40] jmlopez-rod opened #346 "[tools] replace typings folder for types provided by npm"
It has been a while since we can download types by doing `yarn add @types/<insert-library-here>`
Perhaps it is time to remove the `typings` folder?

[2018-08-15 08:12] aleung commented on #336
The proposed rule is beyond eslint `no-throw-literal` to address what is described in its "[known limitations](https://eslint.org/docs/rules/no-throw-literal#known-limitations)".

Known your point. Thanks!

[2018-08-15 08:12] #336 closed

[2018-08-15 13:36] jmlopez-rod commented on #343
I've been using https://palantir.github.io/tslint/rules/trailing-comma/, and this is how I have configured it so that it can achieve the same style as airbnb.

[code]

It does have a bug though:

https://github.com/palantir/tslint/issues/3870

Is there something in that rule that doesn't allow you to have code style your project needs?

[2018-08-15 13:50] jmlopez-rod commented on #296
Sorry, just released version 5.4.0 last night.

[2018-08-15 13:50] #296 closed

[2018-08-15 13:58] jmlopez-rod commented on #292
That's right, we are using yarn now!

[2018-08-15 13:58] #292 closed

[2018-08-15 15:58] jmlopez-rod commented on #247
Is this still an issue? Checked both examples provided with the latest typescript and tslint and the errors are not present. Perhaps one of the updates fixed it at some point? I'll close this for now as this is working in

tsc 3.0.1
tslint 5.11.0

Reopen if needed.

[2018-08-15 15:58] #247 closed

[2018-08-15 16:07] jmlopez-rod commented on #337
I'm not sure if one exists. This is certainly possible but I think this is outside the scope of the project. We only try add eslint rules that are not currently supported by tslint.

If you want to write your own custom rule and you have no idea where to start I would look at any rule that deals with annotations. I don't think I've seen one in this project but I think the angular team uses the cod

[2018-08-15 16:07] #337 closed

[2018-08-15 16:10] jmlopez-rod commented on #222
It should now thanks to @peterjwest (https://github.com/buzinas/tslint-eslint-rules/commit/24190b7059b8c947d7df5b731434566fdd6b5468)

[2018-08-15 16:10] #222 closed

[2018-08-22 01:43] Ky6uk opened #349 "[ter-max-len] + ignoreStrings"
`ignoreStrings: true` does match code below like a string and ignores length check

[code]

[2018-08-25 01:42] Boycce commented on #214
You guys need to remove the use of `extends` since there are no default presets, its not correct and is plain confusing.

[2018-08-25 01:43] Boycce commented on #214
You guys need to remove the use of extends since there are no default presets, its not correct and is plain confusing, especially when reading through the readme.

[2018-08-26 09:12] YvesBoah commented on #74
Il faudrait commenté ces lignes de codes  se situant dans le répertoire
     build/webpack.base.conf.js
      // {
      //   test: /\.(js|vue)$/,
      //   loader: 'eslint-loader',
      //   enforce: 'pre',
      //   include: [resolve('src'), resolve('test')],
      //   options: {
      //     formatter: require('eslint-friendly-formatter')
      //   }
      // },

[2018-08-28 05:36] aleung commented on #336
To who feels this rule useful: I've published it in an individual module [tslint-strict-error-throw](https://www.npmjs.com/package/tslint-strict-error-throw).

[2018-08-29 17:28] jmlopez-rod commented on #343
Ah, I see what you are saying now. Yeah, the rules you mentioned above are necessary. PRs are welcome to any of these rules.

[2018-08-30 08:57] antonyoneill opened #351 "Yoda rule is not available despite docs"
The original [eslint yoda rule](https://eslint.org/docs/rules/yoda) both allows and disallows yoda conditionals.

Recently @JayAndCatchFire updated the doc (#348) to state that the rule is provided natively by TSLint's `binary-expression-operand-order`, however this rule can only disallow yoda - it's not configurable.

I'd like to have a go at implementing a TSLint rule (not sure where to start, b

[2018-08-30 18:03] jmlopez-rod commented on #351
I would ask the guys at palantir if they would be willing to add that functionality (or if they accept a PR to add it). If they say no then `ter-yoda` is welcomed in this project.

[2018-08-31 08:56] L0stSoul commented on #209
Have the same issue :(

[2018-09-03 04:39] jmlopez-rod commented on #349
That is correct and unfortunately that is what the ESlint docs say:

I'm surprised no one has said anything about lines like you mentioned (without typescript)

[code]

The function call should be split but instead it is being ignored if we have the `ignoreStrings` or the the `ignoreTemplateLiterals` options.

It almost seems as if we need more a bit more control over strings. I was going to sugge

[2018-09-03 19:39] blakeembrey opened #354 "Create `no-use-before-define`"
The rule currently points to https://palantir.github.io/tslint/rules/no-use-before-declare/ from TSLint, but they aren't entirely equivalent because you can't use the options from ESLint to disable in nested scopes: https://eslint.org/docs/rules/no-use-before-define#options. From the docs also, it appears more expensive than it should be to compute:

[2018-09-04 04:48] #243 closed

[2018-09-06 07:43] Xenya0815 opened #355 "ter-newline-after-var does not work for nested vars"
### Used versions
TSC: 3.0.3
tslint: 5.11.0
tslint-reslint-rules: 5.4.0

### Used tslint.json
[code]

### Linted code
[code]
### Actual behavior
No linter error

Note: Same behavior when I change the arrow function to a real function: `const myFunc = function() {...}`

### Expected behavior
The linter error "Expected blank line after variable declarations."

### Analysis
If I change the `const myF

[2018-10-10 12:45] telmotrooper opened #357 "Can ESLint plugins be used through this dependency?"
I already use `tslint-eslint-rules` in my project, but right now I'm trying to use the import rules from `eslint-plugin-import` as well with no success.

I'd like to know if this extension allows me to use ESLint plugins as well in my TypeScript project.

Attempting to extend `plugin:import/warnings` gives me an error.
[code]
 And just setting the rule `"import/order": ["error", {"groups": ["index

[2018-10-22 10:58] lexcorp16 commented on #285
@buzinas can you help get started

[2018-10-23 19:15] jmlopez-rod commented on #285
@lexcorp16 I would look at the [contributing file](https://github.com/buzinas/tslint-eslint-rules/blob/master/CONTRIBUTING.md#contributing-code) and try to look at the code from any of the rules that start with `ter` for ideas on how to write the rule.

[2018-11-02 17:52] vort3xxx commented on #78
The behavior seems a little different.  It's picking up functional parameters (dependency injections especially) and consts in the tslint rule.  I don't believe that eslint had that scoping.  It seemed to only inspect var and let statements.

[2018-11-04 01:10] ikokostya commented on #171
Rule `no-unused-var` was deprecated [again](https://github.com/palantir/tslint/pull/3919) in `tslint`. I think this issue should be reopen for further discussion.

[2018-11-06 10:16] PhiLhoSoft commented on #247
I still see the problem (in TS code):
[code]
Error on the last semi-colon: "Expected indentation of NaN tabs but found 0" (or 1 or 2, if I change indentation).
The error disappears if I put the semi-colon right after the closing brace, or if I remove a @param line...

[2018-11-22 11:47] d-fischer commented on #252
This bug breaks Webpack's named import feature, *even if there is no space between the comment and the path*.

[code]

[2018-11-27 00:02] xyz92 opened #359 "How do I disable tslint warnings tslint.json"
How do I disable the following 2 tslint warnings:

Warning - tslint: error typedef: expected arrow-parameter: 'item' to have a typedef
Warning - tslint: error no-string-literal: object access via string literals is disallowed

[2018-11-27 21:31] #359 closed

[2018-11-30 11:48] viktor-flower opened #361 "Implement padding-line-between-statements"
I am missing about the rule from ESLint why I has installed the package. But  it is missed.

[2018-12-03 01:55] fwh1990 opened #362 "Drop rule no-duplicate-case"
This rule exists in tslint as `no-duplicate-switch-case`

[2018-12-06 01:55] worldlee78 opened #363 "Sort-Imports fails when 'none' is first sort option"
tslint and typescript versions
[code]

tslint.json configuration
[code]
Typescript code being linted:
[code]

Actual Behavior:
ERROR: src/index.tsx[1, 1]: All imports of type "None" must occur before all imports of type "All"

Expected Behavior:
Should not have any errors

[2018-12-06 02:03] worldlee78 commented on #363
If you look at the code, inside the `_processMemberSyntaxSortOrder` method, the sortOptions does not add the 'none' option to the `order` array because the if statement of (memberSyntaxTypeMap['none']) evaluates to 0, which is false, and thus is skips adding the option. Changing this to explicitly check for undefined instead of using the "evaluates to false" shortcut should resolve this issue.

It

[2018-12-11 19:46] wolfy1339 opened #366 "`ter-newline-after-var`: Doesn't detect new-line"
Take the following code, run it through tslint using the `"ter-newline-after-var": [true, "always"]` configuration. TSLint will then complain that there is no new-line after the variable declaration even though there is
[code]

[2018-12-11 19:56] wolfy1339 commented on #357
No, this is only the builtin ruleset from eslint. It does not allow plugins to be imported

[2018-12-11 23:15] edward-shen opened #367 "ter-computed-property-spacing doesn't like double-array access"
Related to #326.

[code]

I'd thought to bring this up as a separate issue because the redline is also misplaced -- it should be located on the first '[' rather than the second one.

[2018-12-13 20:36] PhiLhoSoft commented on #247
Well, no error message at all, as the file is perfectly fine. The fact the error message disappears when I remove part of the _comment_ (OK, doc comment, but still!) is particularly puzzling.

[2018-12-22 16:34] johnsoncheg commented on #315
I got the same error, I upgrade webpack3 to webpack4 with typescript of my vue cli project. Someone knows how to solve the problem

[2018-12-22 19:48] pelotom commented on #229
It seems like the work is already being done to determine which rules are recommended (they are marked as "(Recommended)" in the README), so why not just publish this as a preset? Currently it's a very laborious process to actually write out the rules you want to use, going through the README one by one and transcribing to your `tslint.json`.

[2018-12-23 21:10] #357 closed

[2019-01-03 03:56] ryami333 commented on #229
Totally agree with @pelotom - the cognitive work here is already done, publishing a recommended preset is the easy bit. Would you not accept a PR? @buzinas?

[2019-01-07 13:39] Xenya0815 commented on #355
@webschik I checked the changes at your repository. It works, thx.
But it breaks the possibility to add additional blank lines:

[code]

[2019-01-07 16:12] webschik commented on #355
Thanks, @Xenya0815 !
I specifically made this case to trigger the error, but Eslint [allows it](https://eslint.org/demo/#eyJ0ZXh0IjoiY29uc3QgZm9vID0gMTtcblxuY29uc3QgYmFyID0gMjtcblxuYWxlcnQoZm9vICsgYmFyKTsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjksInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnsiY29uc3RydWN0b3Itc3VwZXIiOjIsImZvci1kaXJlY3Rpb24iOjIsImdldHRlci1yZXR

[2019-01-10 07:00] ycjcl868 commented on #318
me too

[2019-01-11 08:09] ycjcl868 commented on #209
Same issue

[2019-01-12 11:58] webschik commented on #355
I've updated [PR](https://github.com/buzinas/tslint-eslint-rules/pull/368)

[2019-02-18 13:06] woutervanvliet opened #373 "ter-indent: Does not report missing indents in chains and ternaries"
I'm trying to configure `ter-indent` to behave as similar to the eslint `indent` rule I've been using for a while, and for the most part this seems to function alright. However in some cases it doesn't report missing indents - where eslint does.

Specifically, I've identified the problem in the following cases:
[code]

I've setup a minimal repo to demonstrate the issue: https://github.com/wouterva

[2019-02-22 09:15] marikaner opened #374 "validJsdocRule fails on union types and index signatures"
I just introduced the `validJsdocRule` rule in our repo, but it does not work as soon as I use union types or index signatures as types. I can work around that by creating type aliases, but in some cases I think this is not the best option.

Is there any better solution?

[2019-02-22 09:57] marikaner opened #375 "valid-jsdoc rule fails for async function"
We have an async function that returns Promise<void>:

[code]

When this is annotated with `@returns` the rule shows me an error. Accoding to the es-lint documentation this is not the case. Can I work around that somehow?

[2019-02-27 06:52] GodofHope opened #376 "no-empty-character-class problem"
Here is my code.

[code]

And I got the hint

[code]

## I don't think it has a empty class, or could anyone tell me how to write `\n` and `\s` inroder to prevent this error?

[2019-03-10 06:50] vvscode commented on #289
@buzinas friendly ping )

[2019-03-11 17:46] hvaara opened #378 "New release soon?"
Are you planning a new release of this plugin soon? We would really love to see #353 in the released version.

Thanks a lot for this project by the way! Very helpful! 🎉

[2019-03-12 05:26] buzinas commented on #378
To be honest, I really need help from other maintainers. It's been hard to find time to re-organize this project and put it into the right direction. I'm really sorry :(

[2019-03-14 12:45] hvaara commented on #378
Ok. Thanks for getting back to me so quick, and also thanks once again for the great work! I'll close this issue

[2019-03-14 12:45] #378 closed

[2019-03-28 16:12] Giwayume opened #379 "Would be nice if you could port the comma-style rule"
Tslint does not seem to support this.

[2019-04-12 11:52] #375 closed

[2019-04-20 08:54] johndcarmichael opened #380 "Missing rule: max-lines-per-function"
I have just found this package! Awesome stuff :)

This eslint rule:  https://eslint.org/docs/rules/max-lines-per-function
Prevents developers writing epic functions with 100 lines.

Are there any plans to introduce this to this to your package?

[2019-05-29 22:18] trivikr commented on #280
Closing as TSLint is going to deprecated some time in 2019 ([announcement](https://github.com/palantir/tslint/issues/4534))

[2019-05-29 22:18] #280 closed

[2019-06-23 19:12] nelson6e65 opened #381 "no-multi-spaces rule do not get auto-fixed"
[code]

Is detecting the error, but is not auto-fixed.

[code]

[2019-07-11 12:54] Ulrikop opened #382 "valid-jsdoc: matchDescription for interfaces and enums"
the rule `matchDescription` works currently only for classes. is it possible to support enums and interfaces, too?

also the error message `jsdoc is not formatted correctly on this line` does not help at fixing the problem. Is it possible to add a custom error message?

[2019-08-11 00:43] #376 closed

[2019-09-11 09:14] DerZyklop opened #383 "ter-arrow-parens warnings influenced by code comments"
$ ./node_modules/tslint/bin/tslint --version
5.20.0
$ tsc --version
Version 2.5.3

### tslint.json configuration
"ter-arrow-parens": true,

### typescript code being linted
[code]

### actual behavior
Warnings for properties of those functions that have comment:
![Screenshot 2019-09-11 at 11 09 45](https://user-images.githubusercontent.com/912344/64684178-ed172780-d484-11e9-9487-f2a84f0a0481.png)

[2019-10-01 15:41] kousiksatish opened #384 "Missing rule : max-params"
According to Clean Code by Robert Cecil Martin, ideal design of code should be such that a function should have minimum number of parameters.
This rule will be helpful to maintain clean code with good design.

[2019-10-01 15:43] kousiksatish commented on #384
I wish to implement this rule and give a PR

[2019-10-17 08:58] Rejpal commented on #381
have exactly same problem

[2019-11-06 07:09] lokoArt commented on #209
Same problem... Any updates?

[2019-11-27 23:20] mhagnumdw opened #388 "missing JSDoc @returns for function"
After declaring @returns it still shows the error with a very small underscore, but the error disappears from the total.

# versions
"tslint": "5.11.0"
"typescript": "2.9.2"

### others
Command: ng lint
Angular CLI: 6.2.9
Node: 10.17.0
Angular: 6.1.8

# `tslint.json` configuration

<details><summary>Click here to view content</summary>
<p>

[code]

</p>
</details>

# typescript code being linted
S

[2019-12-13 04:03] JvPy commented on #285
would like to help, if still open

[2020-03-30 14:20] GarfieldDeepClone opened #390 "Where is the no-ex-assign coming from?"
Hi :)

I'm just curious and like to know where the 'no-ex-assign' rule name is defined? I can't find it anywhere. I just see the noExAssignRule.js file.

And why do I have to define the rule when I extended tslint-eslint-rules?
I don't understand how the extends of tslint-eslint-rules work. I'm used to the case that in the extended node_modules directory are some js files which export rules. But I

[2020-05-22 13:23] Alecell opened #391 "ter-arrow-parens don't recognize the need of parens"
I have this case in my code:
[code]

The `ter-arrow-parens` throws `Unexpected parentheses around single function argument having a body with no curly braces.` 3 times in sequence, but the parens is required on the first and last case, it should throw this error only on the second case since the `?` is used to define conditional parameters.

[2020-07-23 06:55] RoopanV opened #392 "Support for latest version of tslint (V6 and above)"
Hi,
   Currently facing peer dependency warning while building the code with the latest tslint (v6) installed. Support for latest version will be much appreciated.

npm WARN tslint-eslint-rules@5.4.0 requires a peer of tslint@^5.0.0 but none is installed. You must install peer dependencies yourself.

[2020-10-30 22:07] keremgocen commented on #269
How would one go about implementing a new rule then?:)

[2021-10-08 15:29] younes-io commented on #269
This rule seems to be already implemented (cf. https://eslint.org/docs/rules/no-mixed-spaces-and-tabs)

@buzinas  I think the issue can be closed

[2022-02-17 11:18] #259 closed

[2022-02-21 02:21] danielemonaca commented on #289
Is this still relevant?